.form__placeholder-container {
    position: relative;
    width: 100%;
}
.form__placeholder-container input {
    border: none;
    background: transparent;
    border-bottom: 1px solid #5F5F61;
    box-sizing: border-box;
    outline: none;
    width: 100%;
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    color: #000000;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 30px;
    min-height: 60px;
    box-sizing: border-box;
    padding-bottom: 10px;
}
// .form__placeholder-container.form__placeholder-container_active input {
//     border: 1px solid #FF0606;
// }
.form__placeholder-container textarea {
    box-sizing: border-box;
    outline: none;
    width: 100%;
    border: none;
    font-weight: 600;
    font-size: 16px;
    color: #000000;
    background: transparent;
    padding-top: 19px;
    padding-left: 21px;
    min-height: 60px;
    border-bottom: 1px solid #5F5F61;
    box-sizing: border-box;
    padding-bottom: 19px;
}
.form__placeholder-container label {
    width: fit-content;
    font-weight: 500;
    font-size: .87rem;
    line-height: 100%;
    color: #000000;
    pointer-events: none;
    position: absolute;
    transition: all 200ms;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    span {
        font-size: 12px;
        color: #A4A4A4;
    }
}
// .form__placeholder-container textarea:focus,
// .form__placeholder-container textarea:not(:placeholder-shown) {
//     border: 2px solid #8010D6;
// }
// .form__placeholder-container input:focus,
// .form__placeholder-container input:not(:placeholder-shown) {
//     border: 2px solid #8010D6;
// }
.form__placeholder-container textarea:focus + label,
.form__placeholder-container textarea:not(:placeholder-shown) + label {
    top: 5px;
    left: 0;
    // font-size: 11px;
}
.form__placeholder-container input:focus + label,
.form__placeholder-container input:not(:placeholder-shown) + label {
    top: 5px;
    left: 0;
    // font-size: 11px;
}


.form__checkbox {
    height: fit-content; 
    position: relative;
    label {
        cursor: pointer;
        font-weight: 400;
        font-size: 14px;
        line-height: 120%;
        color: #000000;
        // white-space: nowrap;
        position: relative;
        padding-left: 33px;
        z-index: 2;
        span {
            color: #AEB0B0;
        }
        a {
            color: $purple;
            transition: .4s;
            &:hover {
                text-decoration: underline;
            }
        }
        &::before {
            content: '';
            position: absolute;
            width: 20px;
            height: 20px;
            left: 0;
            top: -1px;
            border: 1px solid #9FA2A7;
            border-radius: 4px;
            transition: .4s ease-in;
        }
        &::after {
            content: '';
            position: absolute;
            width: 8px;
            left: -2px;
            transform: rotate(90deg);
            top: 1px;
            height: 5px;
            border-left: 1px solid transparent;
            border-bottom: 1px solid transparent;
            transition: .2s ease-in;
            z-index: -1;
        }
    }
    input {
        display: none;
        &:checked {
            & ~ label {
                font-weight: 500;
            }
            & ~ label::before {
                border-color: #F56308;
            }
            & ~ label::after {
                transform: rotate(-45deg);
                left: 6px;
                top: 5px;
                z-index: 1;
                border-left: 2px solid #F56308;
                border-bottom: 2px solid #F56308;
            }
        }
    }
}
// label[for="phone"] {
//     padding-left: 26px;
//     &::before {
//         content: '';
//         position: absolute;
//         left: 0;
//         top: 5px;
//         width: 16px;
//         height: 16px;
//         background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 3.46753H15V6.49003H1V3.46753Z' fill='white'/%3E%3Cpath d='M1 9.51001H15V12.5325H1V9.51001Z' fill='%23D52B1E'/%3E%3Cpath d='M1 6.48999H15V9.51249H1V6.48999Z' fill='%230039A6'/%3E%3C/svg%3E%0A");
//     }
// }
// input[type="checkbox"].checkbox__switch{
// 	font-size: 30px;
// 	-webkit-appearance: none;
// 	   -moz-appearance: none;
// 	        appearance: none;
// 	width: 83px;
// 	height: 36px;
// 	background: #F5F5F5;
// 	border-radius: 3em;
//     border: 2px solid #8010D6;
// 	position: relative;
// 	cursor: pointer;
// 	outline: none;
// 	-webkit-transition: all .2s ease-in-out;
// 	transition: all .2s ease-in-out;
// }
  
// //   input[type="checkbox"].checkbox__switch:checked{
// // 	background: #0ebeff;
// //   }
  
// input[type="checkbox"].checkbox__switch:after{
//     position: absolute;
//     content: "";
//     width: 22px;
//     height: 22px;
//     border-radius: 50%;
//     top: 50%;
//     background: linear-gradient(90deg, #A63CF5 0%, #D844FB 100%);
//     box-shadow: 0 0 .25em rgba(0,0,0,.3);
//     transform: scale(1) translateY(-50%);
//     left: 5px;
//     transition: all .2s ease-in-out;
// }
  
// input[type="checkbox"].checkbox__switch:checked:after{
//     left: calc(100% - 26px);
// }

// .input__error {
//     position: absolute;
//     bottom: -20px;
//     font-weight: 600;
//     font-size: 11px;
//     line-height: 24px;
//     color:#FF0606;
//     left: 19px;
// }

.input-file-row {
    display: inline-block;
    margin-top: 15px;
}
.input-file {
    position: relative;
    display: inline-block;
}
.input-file span {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    text-decoration: none;
    font-weight: 600;
    font-size: 13px;
    color: black;
    text-align: center;
    padding-bottom: 7px;
    border-bottom: 1px solid #E0E0E0;
    box-sizing: border-box;
    margin: 0;
    transition: .4s ease-out;
}
.input-file input[type=file] {
    position: absolute;
    z-index: -1;
    opacity: 0;
    display: block;
    width: 0;
    height: 0;
}
    
/* Focus */
.input-file input[type=file]:focus + span {
    color: #F56308;
}
    
/* Hover/Active */
.input-file:hover span {
    color: #F56308;
}
.input-file:active span {
    color: #2E703A;
}
    
/* Disabled */
.input-file input[type=file]:disabled + span {
    color: #AEB0B0;
}
    
/* Список файлов */

.input-file-list-item {
    margin-bottom: 10px;
}
.input-file-list-remove {
    color: red;
    text-decoration: none;
    display: inline-block;
    margin-left: 5px;
}
button[type="submit"] {
    margin-top: 15px;
    background: #F56308;
    border-radius: 5px;
    width: 100%;
    padding: 10px;
    border: none;
    font-weight: 600;
    font-size: 12px;
    color: #FFF;
    margin-bottom: 22px;
    transition: .4s ease-out;
    border: 1px solid transparent;
    @media (min-width: 768px) {
        padding: 21px;
        font-size: 16px;
    }
    &:hover {
        background: white;
        color: #F56308;
        border: 1px solid #F56308;
    }
}

.form__checkbox_size {
    position: absolute;
    bottom: 0;
    label {
        font-weight: 400;
        font-size: 12px;
        line-height: 110%;
        color: #AEB0B0;
    }

}