.article {
    padding-top: 31px;
    padding-bottom: 31px;
    .outer {
        @media (max-width: 992px) {
            padding-right: 0;
        }
        
    }
    @media (min-width: 992px) {
        padding-top: 70px;
        padding-bottom: 70px;
    }
}
.article__container {
    margin-top: 24px;
    overflow: hidden;
    position: relative;
    padding-bottom: 80px;
    @media (min-width: 992px) {
        margin-top: 46px;
    }
    ul {
        li {
            display: flex;
            flex-direction: column;
            max-width: 292px;
            @media (min-width: 992px) {
                max-width: 440px;
            }
            img {
                width: 100%;
                height: 230px;
                object-fit: cover;
                border-radius: 13px;
                overflow: hidden;
                @media (min-width: 992px) {
                    height: 350px;
                    border-radius: 20px;
                }
            }
            a {
                margin-left: 25px;
                margin-top: 16px;
                margin-right: 40px;
                color: black;
                position: relative;
                transition: .4s;
                @media (min-width: 992px) {

                }
                &:hover {
                    color: $blue;
                    p {
                        span {
                            color: $blue;
                        }
                    }
                    div {
                        background: $blue;
                        border: 1px solid $blue;
                        svg {
                            fill: white;
                        }
                    }
                }
                div {
                    position: absolute;
                    right: 0;
                    top: 5px;
                    width: 26px;
                    height: 22px;
                    border: 1px solid #000000;
                    border-radius: 3px;
                    display: flex;
                    transition: .4s;
                    @media (min-width: 992px) {
                        width: 40px;
                        height: 33px;   
                        border-radius: 5px;
                    }
                    svg {
                        transition: .4s;
                        margin: auto;
                        fill: #000000;
                        width: 7px;
                        height: 7px;
                    }
                }
                p {
                    font-weight: 600;
                    font-size: 18px;
                    line-height: 100%;
                    max-width: 170px;
                    transition: .4s;
                    @media (min-width: 992px) {
                        font-size: 24px;
                        max-width: 215px;
                    }
                    span {
                        transition: .4s;
                        margin-top: 8px;
                        display: block;
                        font-weight: 400;
                        font-size: 12px;
                        line-height: 120%;
                        color: #5F5F61;
                        @media (min-width: 992px) {
                            font-size: 13px;
                            margin-top: 13px;
                        }
                    }
                }
                
            }
        }
    }
    .article__navigation {
        width: fit-content;
        
        margin: auto;
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 21px;
        @media (min-width: 992px) {
            height: 26px;
        }
    }
    .article__navigation-container {
        position: relative;
        height: 100%;
        width: fit-content;
        margin: auto;
        padding: 0 50px;
        .article__button {
            position: absolute;
            width: 11px;
            top: 50%;
            transform: translateY(-50%);      
            height: 21px;
            cursor: pointer;
            @media (min-width: 992px) {
                width: 14px;    
                height: 26px;
            }
            svg {
                width: 100%;
                height: 100%;
            }
            &:hover {
                svg {
                    fill: $blue;
                }
            }
            &.article__button-prev {
                left: 0;
            }
            &.article__button-next {
                right: 0;
                transform: scaleX(-1) translateY(-50%);
            }
            svg {
                transition: .4s;
                fill: #000000;
            }
        }
    }
    .swiper-pagination {
        width: fit-content !important;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 40px;
        position: relative;
        height: 100%;
        bottom: unset !important;
        @media (min-width: 992px) {
            gap: 50px;
        }
    }
    .swiper-pagination-bullet {
        width: 5px;
        height: 5px;
        background: #E9E9E9;
        opacity: 1;
        position: relative;
        transition: .4s;
        @media (min-width: 992px) {
            width: 6px;
            height: 6px;
        }
        &::after {
            content: '';
            position: absolute;
            left: -2px;
            top: -2px;
            transition: .4s;
            border-radius: 50%;
            width: 10px;
            height: 10px;
        }
        &.swiper-pagination-bullet-active {
            transition: .4s;
            background: transparent;
            &::after {
                border: 1px solid #000000;
                left: -2px;
                top: -2px;
                width: 10px;
                height: 10px;
            }
            
        }
    }
}