.hit {
    background: #F8F8F8;
    padding-top: 62px;
    padding-bottom: 62px;
}
.hit__container {
    position: relative;
}
.hit-slider {
    margin-top: 32px;
    overflow: hidden;
    ul {
        
    }
}


