.detail__container {
    padding-top: 35px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    overflow: hidden;
    @media(min-width: 1200px) {
        display: grid;
        grid-template-columns: 1fr 680px;
    }
}
.detail__slider-container {
    position: relative;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr 45px;
    @media (min-width: 576px) {
        grid-template-columns: 1fr 95px;
        border: 1px solid #EAEAEA;
        padding: 30px;
    }
    & > a {
        position: absolute;
        bottom: 10px;
        right: 0;
        background: #F4F4F4;
        border-radius: 5px;
        padding: 10px 15px;
        display: flex;
        align-items: center;
        transition: .4s ease-out;
        color: #000000;
        z-index: 2;
        @media (min-width: 576px) {
            right: 38px;
            bottom: 38px;
        }
        &:hover {
            color: white;
            background: #F56308;
            svg {
                fill: white;
            }
        }
        svg {
            fill: #F56308;
            width: 12px;
            height: 12px;
            margin-right: 5px;
            transition: .4s ease-out;
        }
    }
}
.detail__slider {
    width: 100%;    
    overflow: hidden;
}
.detail__wrapper {
    max-height: 501px;
}
.detail__slide {
    cursor: grab;
    img {
        height: 100%;
        width: 100%;
        object-fit: contain;
    }
}
.detail__thumbnail {
    overflow: hidden;
    max-height: 80%;
    @media (min-width: 768px) {
        
    }
    .swiper-slide {
        border-radius: 8px;
        overflow: hidden;
        transition: .4s ease-out;
        cursor: pointer;
        &.swiper-slide-thumb-active {
            border: 1px solid #584C3B;
            border-radius: 8px;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            object-position: center;
        }
    }
}
.detail__label {
    font-weight: 700;
    font-size: 11px;
    line-height: 100%;
    color: #FFFFFF;
    padding: 3.5px 9px;
    background: #DF281A;
    border-radius: 5px;
    position: absolute;
    top: 30px;
    left: 30px;
    z-index: 2;
}
.detail__info {
    h1 {
        margin: 0;
    }
    .product__price {
        font-weight: 500;
        font-size: 30px;
        line-height: 130%;
        margin-top: 0;
        height: fit-content;
        width: fit-content;
        grid-area: price;
        span {
            font-weight: 500;
            font-size: 12px;
            line-height: 1;
            margin-top: 4px;
            display: block;
        }
    }
    .product__buttons {
        
        grid-area: btn;
    }
    .product__buy-btn {
        width: 100%;
        font-weight: 600;
        font-size: 12px;
        line-height: 100%;
        display: flex;
        align-items: center;
        height: 30px;
        white-space: nowrap;
        margin-top: 16px;
        @media (min-width: 768px) {
            font-size: 15px;
            height: 55px;
        }
    }
    .product__amount {
        display: flex;
        height: fit-content;
        margin: auto;
        justify-content: space-between;
        align-items: center;
        width: fit-content;
        grid-area: amount;
        margin-top: 17px;
        @media (min-width: 576px) {
            margin-top: 0;
        }
        @media (min-width: 768px) {
            // margin: 0;
            margin-top: 17px;
            width: 100%;    
        }
        button {
            width: 53px;
            height: 36px;
            background: #E8E8E8;
            font-size: 14px;
        }
        input {
            background: transparent;

        }

    }
    .detail__info-main {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 20px;
        padding-top: 20px;
        flex-direction: column;
        @media (min-width: 768px) {
            flex-direction: row;
            padding-top: 31px;
        }

        .detail__info-right {
            width: 100%;
            padding: 10px;
            background: #F4F4F4;
            border-radius: 10px;
            
            @media (max-width: 768px) and (min-width: 576px) {
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-areas: 'price amount' 
                                    'pm amount' 
                                    'btn btn'
            }
            @media (min-width: 768px) {
                max-width: 240px;
                padding: 19px 33px;
            }
        }
    }
    .detail__color {
        
        .detail__colors {
            display: flex;
            gap: 10px;
            margin-top: 3px;
        }
        & > p {
            color: #000000;
        }
        .product__color {
            width: 35px;
            height: 35px;
            & > div {
                width: 25px;
                height: 25px;
                top: 4px;
                left: 4px;
            }
        }
    }
    .detail__length {
        margin-top: 17px;
        & > p {
            color: #000000;
        }
        .product__length-list {
            gap: 14px;
            li {
                font-weight: 400;
                font-size: 13px;
                line-height: 120%;
                padding: 6px 13px;
                @media (min-width: 992px) {
                    font-size: 18px;
                }
            }
        }
    }
    .detail__size {
        margin-top: 17px;
    }
    .detail__weight, .detail__company, .detail__garanty { margin-top: 5px; }
}
.product__price-pm {
    width: fit-content;
    font-weight: 400;
    font-size: 11px;
    line-height: 16px;
    color: #555557;
    grid-area: pm;
    height: fit-content;
    span {
        color: #000000;
    }
}

.detailtabs {
    & > ul {
        display: flex;
        column-gap: 40px;
        padding-bottom: 24px;
        border-bottom: 1px solid #E0E0E0;
        margin-bottom: 38px;
        flex-direction: column;
        @media (min-width: 768px) {
            flex-direction: row;    
        }
        li {
            padding: 10px 0;
            color: #AEB0B0;
            transition: .4s ease-out;
            cursor: pointer;
            position: relative;
            @media (max-width: 768px) {
                font-size: 20px;
            }
            @media (min-width: 768px) {
                &::after {
                    content: '';
                    transition: .4s ease-out;
                    position: absolute;
                    bottom: -25px;
                    left: 0;
                    width: 100%;
                    height: 2px;
                    background: transparent;
                }    
            }
            
            &:hover, &._active-tab {
                color: #F56308;
                &::after {
                    background: #F56308;
                }
            }
        }
    }   
}
.detailtabs__content {
    display: none;
    &._active {
        display: block;
    }
    h2 {
        color: #584C3B;
        margin-bottom: 10px;
    }
    .detailtabs__row {
        display: grid;
        gap: 20px;
        grid-template-columns: 1fr;
        @media (min-width: 768px) {
            grid-template-columns: 1fr 240px;
        }
        p {
            color: #000000;
            margin-top: 10px;
        }
        ul {
            display: flex;
            flex-direction: column;
            list-style: disc;
            padding-left: 20px;
            li {
                font-weight: 400;
                font-size: 12px;
                line-height: 150%;
                color: #000000;
                @media (min-width: 576px) {
                    font-size: 16px;
                }
            }
        }
    }
    ul.details__document {
        display: grid;
        grid-template-columns: 1fr;
        gap: 30px;
        margin-top: 22px;
        @media (min-width: 768px) {
            grid-template-columns: repeat(auto-fill, 310px);
        }
        li {
            display: flex;
            gap: 20px;
            align-items: flex-start;
            & > svg {
                width: 48px;
                height: 48px;
                margin-top: 6px;
            }
            a {
                display: flex;
                justify-content: space-between;
                width: 100%;
                gap: 14px;
                color: #000000;
                transition: .4s;
                &:hover {
                    p {
                        color: #F56308;
                    }
                    
                }
                p {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    margin: 0;
                    color: #000000;
                    transition: .4s ease-out;
                    span {
                        font-weight: 400;
                        font-size: 12px;
                        line-height: 150%;
                        color: #AEB0B0;
                    }
                }
                div {
                    width: 30px;
                    height: 24px;
                    border: 1px solid #000000;
                    border-radius: 4px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    transition: .4s;
                    svg {
                        transition: .4s;
                        width: 5px;
                        height: 5px;
                        fill: #000000;
                    }
                }
            }
        }
    }
}
ul.detailtabs__compl {
    margin-top: 28px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    @media (min-width: 992px) {
        gap: 60px;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    }
    li {
        display: flex;
        gap: 25px;
        img {
            border-radius: 10px;
            width: 90px;
            height: 72px;
            object-fit: contain;
        }
    }
}
.detailtabs__buttons {
    padding: 34px;
    border: 1.5px solid #ECEDEF;
    border-radius: 10px;
    margin-top: 50px;
    ul {
        flex-wrap: wrap;
        display: flex;
        gap: 15px;
        li {
            &:first-child {
                max-width: 240px;
                padding-left: 40px;
                position: relative;
                .icon {
                    position: absolute;
                    left: 0;
                    top: 7px;
                }
            }
            &:nth-child(2) {
                max-width: 226px;
            }
            &:nth-child(3) {
                margin-left: auto;
            }
        }
    }
}
.detailtabs__info  {
    margin-top: 22px;
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr;
    @media (min-width: 992px) {
        grid-template-columns: 1fr 1fr;
    }
}
.detailtabs__delivery, .detailtabs__payment {
    position: relative;
    padding-left: 60px;
    & > .icon {
        position: absolute;
        left: 0;
        top: 0;
        width: 40px;
        height: 40px;
    }
    ul {
        ul {
            margin-top: 17px;
            display: flex;
            gap: 10px;
            flex-wrap: wrap;
            .icon {
                width: auto;
                height: 28px;
            }
            .icon-mir {
                width: 45px;
            }
            .icon-halva {
                width: 59px;
            }
            .icon-mastercard {
                width: 37px;
            }
            .icon-svoboda {
                width: 72px;
            }
            .icon-dolyami {
                width: 88px;
            }
            .icon-visa {
                width: 41px;
            }
        }
    }
}