@use "sass:math";

.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    fill: currentColor;
}

.icon-ar {
    width: math.div(6, 4) * 1em;
}
.icon-arr {
    width: math.div(16, 31) * 1em;
}
.icon-arrow-up {
    width: math.div(32, 32) * 1em;
}
.icon-arrow45 {
    width: math.div(8, 8) * 1em;
}
.icon-basket {
    width: math.div(36, 19) * 1em;
}
.icon-basket1 {
    width: math.div(26, 27) * 1em;
}
.icon-call {
    width: math.div(28, 28) * 1em;
}
.icon-check {
    width: math.div(14, 14) * 1em;
}
.icon-decor {
    width: math.div(217, 216) * 1em;
}
.icon-decor-card {
    width: math.div(185, 185) * 1em;
}
.icon-express-delivery {
    width: math.div(52, 52) * 1em;
}
.icon-houses {
    width: math.div(15, 16) * 1em;
}
.icon-logo {
    width: math.div(252, 38) * 1em;
}
.icon-measuring-tape {
    width: math.div(50, 50) * 1em;
}
.icon-quality {
    width: math.div(46, 46) * 1em;
}
.icon-search {
    width: math.div(14, 15) * 1em;
}
.icon-swimming-pool {
    width: math.div(15, 16) * 1em;
}
.icon-telegram {
    width: math.div(21, 20) * 1em;
}
.icon-warehouse {
    width: math.div(45, 45) * 1em;
}
.icon-whatsapp {
    width: math.div(20, 20) * 1em;
}
