@use "sass:math";

.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    fill: currentColor;
}

.icon-arr {
    width: math.div(6, 10) * 1em;
}
.icon-blockquote {
    width: math.div(61, 40) * 1em;
}
.icon-brush {
    width: math.div(32, 30) * 1em;
}
.icon-cart {
    width: math.div(27, 23) * 1em;
}
.icon-catalog {
    width: math.div(24, 24) * 1em;
}
.icon-checked {
    width: math.div(20, 20) * 1em;
}
.icon-clean {
    width: math.div(30, 30) * 1em;
}
.icon-eco {
    width: math.div(30, 28) * 1em;
}
.icon-eco-big {
    width: math.div(57, 57) * 1em;
}
.icon-gal {
    width: math.div(12, 12) * 1em;
}
.icon-instagram {
    width: math.div(27, 27) * 1em;
}
.icon-li {
    width: math.div(12, 12) * 1em;
}
.icon-logo {
    width: math.div(277, 50) * 1em;
}
.icon-play {
    width: math.div(10, 12) * 1em;
}
.icon-runner {
    width: math.div(27, 28) * 1em;
}
.icon-scale {
    width: math.div(24, 24) * 1em;
}
.icon-secure {
    width: math.div(26, 28) * 1em;
}
.icon-shield {
    width: math.div(26, 26) * 1em;
}
.icon-sun {
    width: math.div(30, 30) * 1em;
}
.icon-up {
    width: math.div(25, 24) * 1em;
}
.icon-whatsapp {
    width: math.div(17, 17) * 1em;
}
