@use "sass:math";

.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    fill: currentColor;
}

.icon-Frame {
    width: math.div(1900, 374) * 1em;
}
.icon-alfabank {
    width: math.div(59, 21) * 1em;
}
.icon-ar {
    width: math.div(6, 4) * 1em;
}
.icon-arr {
    width: math.div(16, 31) * 1em;
}
.icon-arrow-up {
    width: math.div(32, 32) * 1em;
}
.icon-arrow45 {
    width: math.div(8, 8) * 1em;
}
.icon-arrr {
    width: math.div(6, 4) * 1em;
}
.icon-basket {
    width: math.div(36, 19) * 1em;
}
.icon-basket1 {
    width: math.div(26, 27) * 1em;
}
.icon-basket2 {
    width: math.div(19, 19) * 1em;
}
.icon-bugs {
    width: math.div(20, 20) * 1em;
}
.icon-call {
    width: math.div(28, 28) * 1em;
}
.icon-check {
    width: math.div(14, 14) * 1em;
}
.icon-decor {
    width: math.div(217, 216) * 1em;
}
.icon-decor-card {
    width: math.div(185, 185) * 1em;
}
.icon-decor2 {
    width: math.div(375, 224) * 1em;
}
.icon-delivery {
    width: math.div(120, 120) * 1em;
}
.icon-express-delivery {
    width: math.div(52, 52) * 1em;
}
.icon-filter {
    width: math.div(12, 12) * 1em;
}
.icon-footerlogo {
    width: math.div(1899, 202) * 1em;
}
.icon-form {
    width: math.div(54, 63) * 1em;
}
.icon-gift {
    width: math.div(11, 12) * 1em;
}
.icon-houses {
    width: math.div(15, 16) * 1em;
}
.icon-icon-pdf {
    width: math.div(30, 30) * 1em;
}
.icon-iomoney {
    width: math.div(72, 16) * 1em;
}
.icon-jackdaw {
    width: math.div(11, 9) * 1em;
}
.icon-left-ar {
    width: math.div(8, 16) * 1em;
}
.icon-location {
    width: math.div(11, 12) * 1em;
}
.icon-logo {
    width: math.div(252, 38) * 1em;
}
.icon-mastercard {
    width: math.div(34, 20) * 1em;
}
.icon-measuring-tape {
    width: math.div(50, 50) * 1em;
}
.icon-notneed {
    width: math.div(20, 20) * 1em;
}
.icon-payment {
    width: math.div(130, 115) * 1em;
}
.icon-person {
    width: math.div(20, 20) * 1em;
}
.icon-play {
    width: math.div(52, 60) * 1em;
}
.icon-quality {
    width: math.div(46, 46) * 1em;
}
.icon-question {
    width: math.div(24, 24) * 1em;
}
.icon-russia {
    width: math.div(16, 16) * 1em;
}
.icon-sber {
    width: math.div(55, 15) * 1em;
}
.icon-search {
    width: math.div(14, 15) * 1em;
}
.icon-send {
    width: math.div(29, 30) * 1em;
}
.icon-sert {
    width: math.div(14, 20) * 1em;
}
.icon-star {
    width: math.div(20, 19) * 1em;
}
.icon-sun {
    width: math.div(21, 20) * 1em;
}
.icon-swimming-pool {
    width: math.div(15, 16) * 1em;
}
.icon-telegram {
    width: math.div(21, 20) * 1em;
}
.icon-up {
    width: math.div(25, 24) * 1em;
}
.icon-visa-logo {
    width: math.div(38, 12) * 1em;
}
.icon-warehouse {
    width: math.div(45, 45) * 1em;
}
.icon-whatsapp {
    width: math.div(20, 20) * 1em;
}
