.title {
    font-weight: 600;
    font-size: 24px;
    line-height: 130%;
    color: #584C3B;
    margin: 0;
    span {
        font-weight: 500;
    }
    @media (min-width: 768px) {
        font-size: 45px;
    }
}
.text {
    font-weight: 300;
    font-size: 12px;
    line-height: 150%;
    color: #000000;
    &._bold {
        font-weight: 500;
    }
    span {
        font-weight: 500;
    }
    @media (min-width: 768px) {
        font-size: 18px;
    }
}
.title__container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.subtitle {
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #000000;
    @media (min-width: 768px) {
        font-size: 20px;
    }
}