.logo {
    display: flex;
    align-items: center;
    p {
        display: none;
        font-weight: 400;
        font-size: 12px;
        line-height: 110%;
        color: #3F4042;
        max-width: 210px;
        @media (min-width: 1300px) {
            display: block;
        }
    }
    svg {
        width: 175px;
        height: 26px;
        @media (min-width: 576px) {
            width: 252px;
            height: 37px;
        }
        @media (min-width: 1300px) {
            margin-right: 29px;    
        }
    }
}