include ../../mixins/pug/svg-icon
include ../../mixins/pug/modal
include ../../mixins/pug/input
include ../../mixins/pug/btn
//- include ../../components/slider/slider

block variables
    -
        var baseDir = './';

doctype html
html(lang="ru")
    //- Include head
    include ./head

    body(class=pageClass)
        include ../../components/header/header
        block welcome
        if (pageClass !== 'homepage')
            .outer
                .inner
                    .wrapper
                        main
                            nav.breadcrumbs
                                ul.breadcrumbs__list
                                    li
                                        a(href="/") Главная
                                        span.breadcrumbs__divider \
                                    li.is-active #{title}
                            block product
                            block links
                            block article
                            block advantages
                            block form
                            block feedback
                            block company
                            block question
                        aside
                            block filter 
                            block menu
                            block asideform
                            block asideuseful
                            block asideformSubscribe
        else
            main
                block category
                block advantages
                block links
                block hit
                block article
                block company
                block form
                block feedback
                block useful
                block banner 
        //- Include footer
        include ../../components/footer/footer
        include ../../components/modal/modal
        .top__social 
            a(href="#" target="_blank")
                <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_1_1617)">
                    <path d="M14 0.875C11.4041 0.875 8.86654 1.64477 6.70815 3.08696C4.54975 4.52915 2.86749 6.579 1.87409 8.97728C0.880687 11.3756 0.620768 14.0146 1.1272 16.5606C1.63363 19.1066 2.88367 21.4452 4.71923 23.2808C6.55479 25.1163 8.89344 26.3664 11.4394 26.8728C13.9854 27.3792 16.6244 27.1193 19.0227 26.1259C21.421 25.1325 23.4709 23.4503 24.913 21.2919C26.3552 19.1335 27.125 16.5959 27.125 14C27.125 10.519 25.7422 7.18064 23.2808 4.71922C20.8194 2.25781 17.481 0.875 14 0.875V0.875ZM14.5626 8.93725C15.7557 8.93864 16.8995 9.4132 17.7432 10.2568C18.5868 11.1005 19.0614 12.2443 19.0628 13.4374H17.9375C17.9366 12.5426 17.5807 11.6847 16.948 11.052C16.3153 10.4193 15.4574 10.0634 14.5626 10.0625V8.93725ZM18.207 21.875C18.1729 21.875 14.7945 21.8172 10.4501 17.5499C6.18276 13.2072 6.12501 9.82713 6.12501 9.793C6.12501 9.37213 8.75001 6.125 9.33013 6.125C9.53138 6.125 9.688 6.2615 9.8595 6.46625C10.2725 6.958 12.0986 9.84025 12.0146 10.3206C11.9744 10.5464 11.7828 10.7179 11.2333 11.179C10.9625 11.3919 10.7091 11.6259 10.4755 11.879C10.5874 12.342 10.7536 12.7902 10.9708 13.2143C11.7797 14.8776 13.1238 16.221 14.7875 17.0292C15.2115 17.2464 15.6597 17.4126 16.1228 17.5245C16.3758 17.2909 16.6099 17.0375 16.8228 16.7668C17.2839 16.2173 17.4554 16.0256 17.6811 15.9854C18.1615 15.8979 21.0438 17.7275 21.5355 18.1405C21.7403 18.3155 21.8768 18.4686 21.8768 18.6699C21.875 19.25 18.6279 21.875 18.207 21.875ZM20.7498 13.4374C20.7479 11.797 20.0955 10.2244 18.9355 9.06446C17.7756 7.90455 16.203 7.2521 14.5626 7.25025V6.125C16.5013 6.12732 18.3599 6.89847 19.7307 8.2693C21.1015 9.64014 21.8727 11.4987 21.875 13.4374H20.7498Z"/>
                    </g>
                    <defs>
                    <clipPath id="clip0_1_1617">
                    <rect width="28" height="28" fill="white"/>
                    </clipPath>
                    </defs>
                </svg>

            a(href="#" target="_blank")
                <svg width="28" height="28" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M9.6 0.399902C4.296 0.399902 0 4.6959 0 9.9999C0 12.1119 0.672 14.0559 1.824 15.6399L0.504 19.1199L4.32 18.0159C5.832 19.0239 7.656 19.5999 9.6 19.5999C14.904 19.5999 19.2 15.3039 19.2 9.9999C19.2 4.6959 14.904 0.399902 9.6 0.399902ZM14.712 13.9839L13.68 14.9919C12.6 16.0719 9.744 14.8959 7.224 12.3519C4.704 9.8319 3.576 6.9759 4.584 5.9199L5.616 4.8879C6 4.5039 6.648 4.5039 7.056 4.8879L8.568 6.3999C9.096 6.9279 8.88 7.8399 8.184 8.0559C7.704 8.2239 7.368 8.7519 7.536 9.2319C7.8 10.3599 9.264 11.7519 10.344 12.0159C10.824 12.1359 11.376 11.8479 11.52 11.3679C11.736 10.6719 12.648 10.4559 13.176 10.9839L14.688 12.4959C15.072 12.9039 15.072 13.5519 14.712 13.9839Z"/>
                </svg>

            a(href="#" target="_blank")
                <svg width="28" height="28" viewBox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M10.5996 20C16.1238 20 20.5996 15.5242 20.5996 10C20.5996 4.47583 16.1238 0 10.5996 0C5.07544 0 0.599609 4.47583 0.599609 10C0.599609 15.5242 5.07544 20 10.5996 20ZM5.17544 9.78333L14.8171 6.06583C15.2646 5.90417 15.6554 6.175 15.5104 6.85167L15.5113 6.85083L13.8696 14.585C13.7479 15.1333 13.4221 15.2667 12.9663 15.0083L10.4663 13.1658L9.26044 14.3275C9.12711 14.4608 9.01461 14.5733 8.75628 14.5733L8.93378 12.0292L13.5671 7.84333C13.7688 7.66583 13.5221 7.56583 13.2563 7.7425L7.53044 11.3475L5.06211 10.5775C4.52628 10.4075 4.51461 10.0417 5.17544 9.78333Z"/>
                </svg>

        a.go-top.go-top--js(href='#')
            +icon('up')
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
        
        
        script(src=`${baseDir}js/main.js`)

        block script
