mixin select(labeltext, name)
    -
        var labeltext = labeltext || '';
        var name = name || '';

    .form__select-container
        select(name!=name) 
            option!=labeltext
            option!=labeltext
