.navigation {
    width: fit-content;
    margin: auto;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-bottom: 20px;

    .swiper-pagination {
        width: fit-content !important;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        position: relative;
        height: 100%;
        bottom: unset !important;

    }
    .swiper-pagination-bullet {
        width: 15px;
        height: 15px;
        background: none;
        opacity: 1;
        position: relative;
        transition: .1s;

        &::after {
            content: '';
            position: absolute;
            left: 5px;
            top: 5px;
            transition: .1s;
            border-radius: 50%;
            width: 6px;
            height: 6px;
            background: #EAEAEA;
        }
        &.swiper-pagination-bullet-active {
            transition: .1s;
            background: transparent;
            &::after {
                border: 2px solid #F56308;
                left: 0;
                top: 0;
                width: 15px;
                height: 15px;
                background: white;
            }
            
        }
    }
}
.navigation-container {
    position: relative;
    height: 100%;
    width: fit-content;
    margin: auto;
    padding: 0 50px;
}
// .navigation__button {
//     position: absolute;
//     width: 11px;
//     top: 50%;
//     transform: translateY(-50%);      
//     height: 21px;
//     cursor: pointer;

//     svg {
//         width: 100%;
//         height: 100%;
//     }
//     &:hover {
//         svg {
//             fill: $blue;
//         }
//     }
//     &-prev {
//         left: 0;
//     }
//     &-next {
//         right: 0;
//         transform: scaleX(-1) translateY(-50%);
//     }
//     svg {
//         transition: .4s;
//         fill: #000000;
//     }
// }