.product {
    margin-top: -55px;
    & > p {
        margin-top: 17px;
        font-weight: 400;
        font-size: 18px;
        line-height: 130%;
    }
    & > ul {
        margin-top: 30px;
        display: flex;
        gap: 35px;
        li {
            min-height: 95px;
            max-width: 179px;
            width: 100%;
            text-align: center;
            background: #F8F8F8;
            border-radius: 17.8793px;
            display: flex;
            flex-direction: column;
            gap: 15px;
            padding: 17px 12px;
            align-items: center;
            justify-content: center;
        }
    }
}
.product__list {
    margin-top: 34px;
    & > ul {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 40px;
        li {

        }
    }
}