.modal.modal-js
    .modal__container.modal__container-js
        .modal__close-button.modal__close-js
        .modal__content
            .modal__title Заполните данные
            .modal__desc И мы свяжемся с вами в рабочее время в течение 15 минут 
            form(action="").modal__form-js
                +input('Ваше имя','text','name')
                p Пожалуйста представьтесь, как можно к вам обращаться
                +input('Номер телефона','text','phone').phone-mask1--js
                p Пожалуйста укажите корректно
                +input('Комментарий','text','comment')
                p Дополнительные нюансы
                +checkbox('Я выражаю свое согласие с Политикой конфиденциальности сайта и разрешаю обработку своих персональных данных', 'true1')
                button(type="submit") Заказать звонок


                