.modal {
    overflow-y: auto;
    height: 0;
    opacity: 0;
    z-index: -2;
    position: fixed;
    display: flex;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(89.77deg, #0B0F10 -31.11%, rgba(27, 30, 56, 0) 85.54%);
    transition: .4s, height 0s 0.5s;
    padding: 20px;
}

.modal_opened {
    height: 100vh;
    opacity: 1;
    transition: opacity 0.5s;
    z-index: 130;
}
.modal__container {
    display: flex;
    z-index: 5;
    flex-direction: column;
    background: #FFFFFF;
    box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.5);
    background: #FFFFFF;
    border-radius: 20px;
    position: relative;
    margin: auto;
    max-width: 685px;
    width: 100%;
}
.modal__content {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 40px 20px;
    @media (min-width: 672px) {
        padding: 43px 123px 58px;
    }
}
.modal__close-button {
    z-index: 5;
    border: none;
    position: absolute;
    top: 41px;
    right: 63px;
    width: 24px;
    height: 24px;
    cursor: pointer;
    transition: .7s;
    &:hover {
        &::after, &::before {
            background: black;    
        }
    }
    &::after {
        content: '';
        background: #AEB0B0;
        top: 50%;
        left: 0;
        width: 24px;
        height: 2px;
        transition: all .3s ease 0s;
        position: absolute;
        transform: rotate(45deg) translateY(-50%);
    }
    &::before {
        content: '';
        background: #AEB0B0;
        top: 50%;
        left: 0;
        width: 24px;
        height: 2px;
        transition: all .3s ease 0s;
        position: absolute;
        transform: rotate(-45deg) translateY(-50%);
    }
}

.modal__title{
    font-weight: 600;
    font-size: 2.19rem;
}
.modal__desc {
    font-weight: 300;
    font-size: .87rem;
    line-height: 130%;
    margin-top: 14px;
    max-width: 358px;
}

.modal__content {
    .icon {
        width: 54px;
        height: 63px;
    }
    form {
        margin-top: 15px;
        position: relative;
        padding-bottom: 30px;
        width: 100%;
        @media (min-width: 672px) {
            margin-top: 25px;
        }
        & > p {
            margin-top: 7px;
            font-weight: 400;
            font-size: .75rem;
            line-height: 110%;
            color: #AEB0B0;
            margin-bottom: 25px;
        }
        .form__checkbox {
            position: absolute;
            bottom: 0;
            left: 0;
        }
        button {
            margin-top: 15px;
            background: #F56308;
            border-radius: 5px;
            width: 100%;
            padding: 21px;
            border: none;
            font-weight: 600;
            font-size: 1.12rem;
            line-height: 100%;
            color: #FFF;
            margin-bottom: 22px;
            transition: .4s ease-out;
            border: 1px solid transparent;
            &:hover {
                background: white;
                color: #F56308;
                border: 1px solid #F56308;
            }
        }
    }
    
}
