.modal.modal_opened.modal-js
    .modal__container.modal__container-js
        .modal__close-button.modal__close-js
        .modal__content
            +icon('form')
            .modal__title Заказать звонок
            .modal__desc пожалуйста, заполните формы мы свяжемся с Вами в ближайшее время
            form(action="").modal__form-js
                +input('Имя','text','name')
                p Пожалуйста представьтесь, как можно к вам обращаться
                +input('Номер телефона','text','phone').phone-mask--js
                +checkbox('Я выражаю свое согласие с Политикой конфиденциальности сайта и разрешаю обработку своих персональных данных', 'true1')
                button(type="submit") Перезвонить мне


                