header.header
    .outer
        .inner
            nav.menu-js
                ul 
                    li.dropdown О компании&nbsp;<span>&dtrif;</span>
                       .dropdown__content 
                            ul 
                                li О компании
                                li
                                    a(href="#") О компании
                                li 
                                    a(href="#") Александр Богач
                                li 
                                    a(href="#") Новости и полезные статьи
                                li 
                                    a(href="#") Сотрудничество
                    li 
                        a(href="#") Террасы под ключ
                    li 
                        a(href="#") Бизнес террасы
                    li 
                        a(href="#") Террасная доска
                    li 
                        a(href="#") Портфолио
                    li.dropdown Услуги&nbsp;<span>&dtrif;</span>
                       .dropdown__content 
                            ul 
                                li Услуги
                                li
                                    a(href="#") Услуга 1
                                li 
                                    a(href="#") Услуга 2
                                li 
                                    a(href="#") Услуга 3
                                li 
                                    a(href="#") Услуга 4
                    li 
                        a(href="#").border Франчайзинг
                    li 
                        a(href="#") Контакты
                a(href="#") 
                    +icon('cart') 
                    span 5
                    | 180 100₽
                .links
                    a(href="#")
                        +icon('instagram') 
                        | instagram
                    a(href="#")
                        +icon('whatsapp') 
                        | whatsapp
                .contacts 
                    p 
                        a(href="tel:74957746109") +7 (495) 774-61-09
                        span ежедневно с 09-00 до 21-00
                    button(data-id="modal") Заказать звонок

    .header__bottom 
        .outer
            .inner.header__bottom-container
                include ../logo/logo
                include ../hamburger/hamburger
                .links
                    a(href="#")
                        +icon('instagram') 
                        | instagram
                    a(href="#")
                        +icon('whatsapp') 
                        | whatsapp
                .contacts 
                    p 
                        a(href="tel:74957746109") +7 (495) 774-61-09
                        span ежедневно с 09-00 до 21-00
                    button(data-id="modal") Заказать звонок
