header.header
    .outer.header__top
        .inner
            .header__top-container
                select
                    option Москва и область
                    option Санкт-Петербург
                ul 
                    li 
                        a(href="#") О компании
                    li 
                        a(href="#") Блог
                    li 
                        a(href="#") Доставка и оплата
                    li 
                        a(href="#") Монтаж
                    li 
                        a(href="#") Распродажи и акции
                    li 
                        a(href="#") Сотрудничество
                    li 
                        a(href="#") Контакты
    .outer.header__center 
        .inner 
            .header__center-container
                include ../hamburger/hamburger
                include ../logo/logo
                button.basket
                    .basket__icon
                        <svg width="26" height="27" viewBox="0 0 26 27" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M21 20.8494C20.4067 20.8494 19.8266 21.0253 19.3333 21.355C18.8399 21.6846 18.4554 22.1531 18.2284 22.7013C18.0013 23.2495 17.9419 23.8527 18.0576 24.4346C18.1734 25.0166 18.4591 25.5511 18.8787 25.9707C19.2982 26.3902 19.8328 26.676 20.4147 26.7917C20.9967 26.9075 21.5999 26.8481 22.1481 26.621C22.6962 26.3939 23.1648 26.0094 23.4944 25.5161C23.8241 25.0227 24 24.4427 24 23.8494C23.9991 23.054 23.6828 22.2914 23.1204 21.729C22.5579 21.1666 21.7954 20.8502 21 20.8494ZM21 24.8494C20.8022 24.8494 20.6089 24.7907 20.4444 24.6808C20.28 24.571 20.1518 24.4148 20.0761 24.232C20.0004 24.0493 19.9806 23.8483 20.0192 23.6543C20.0578 23.4603 20.153 23.2821 20.2929 23.1423C20.4327 23.0024 20.6109 22.9072 20.8049 22.8686C20.9989 22.83 21.2 22.8498 21.3827 22.9255C21.5654 23.0012 21.7216 23.1293 21.8315 23.2938C21.9414 23.4582 22 23.6516 22 23.8494C21.9997 24.1145 21.8942 24.3686 21.7067 24.5561C21.5193 24.7436 21.2651 24.849 21 24.8494Z" fill="black"/>
                            <path d="M15 20.8494H7C6.73478 20.8494 6.48043 20.744 6.29289 20.5565C6.10536 20.3689 6 20.1146 6 19.8494C6 19.5841 6.10536 19.3298 6.29289 19.1423C6.48043 18.9547 6.73478 18.8494 7 18.8494H23C23.2367 18.8494 23.4657 18.7654 23.6463 18.6124C23.8269 18.4595 23.9473 18.2474 23.9863 18.014L25.9863 6.01397C26.0102 5.8707 26.0026 5.72395 25.9641 5.58392C25.9255 5.44388 25.8569 5.31393 25.763 5.20309C25.6692 5.09225 25.5523 5.0032 25.4205 4.94211C25.2887 4.88102 25.1452 4.84937 25 4.84937H9C8.73478 4.84937 8.48043 4.95472 8.29289 5.14226C8.10536 5.32979 8 5.58415 8 5.84937C8 6.11458 8.10536 6.36894 8.29289 6.55647C8.48043 6.74401 8.73478 6.84937 9 6.84937H23.8193L22.1528 16.8494H9.6928L3.9365 1.49827C3.86496 1.30767 3.73697 1.14344 3.56964 1.02749C3.4023 0.911543 3.20358 0.849403 3 0.849365H1C0.734784 0.849365 0.48043 0.954722 0.292893 1.14226C0.105357 1.32979 0 1.58415 0 1.84937C0 2.11458 0.105357 2.36894 0.292893 2.55647C0.48043 2.74401 0.734784 2.84937 1 2.84937H2.3071L7.5571 16.8494H7C6.27135 16.8442 5.56589 17.1052 5.01616 17.5835C4.46642 18.0618 4.11026 18.7243 4.01459 19.4467C3.91891 20.1691 4.09031 20.9015 4.49658 21.5064C4.90285 22.1113 5.51603 22.547 6.2209 22.7317C6.03292 23.1834 5.95808 23.6741 6.00287 24.1613C6.04766 24.6485 6.21072 25.1174 6.4779 25.5273C6.74508 25.9371 7.10829 26.2755 7.53598 26.5131C7.96367 26.7507 8.4429 26.8803 8.93205 26.8906C9.42119 26.9009 9.90544 26.7916 10.3427 26.5722C10.78 26.3528 11.1572 26.0299 11.4414 25.6317C11.7255 25.2334 11.9082 24.7718 11.9734 24.2869C12.0387 23.802 11.9845 23.3086 11.8157 22.8494H15C15.2652 22.8494 15.5196 22.744 15.7071 22.5565C15.8946 22.3689 16 22.1146 16 21.8494C16 21.5841 15.8946 21.3298 15.7071 21.1423C15.5196 20.9547 15.2652 20.8494 15 20.8494ZM10 23.8494C10 24.0471 9.94135 24.2405 9.83147 24.4049C9.72159 24.5694 9.56541 24.6976 9.38268 24.7732C9.19996 24.8489 8.99889 24.8687 8.80491 24.8302C8.61093 24.7916 8.43275 24.6963 8.29289 24.5565C8.15304 24.4166 8.0578 24.2384 8.01921 24.0445C7.98063 23.8505 8.00043 23.6494 8.07612 23.4667C8.15181 23.284 8.27998 23.1278 8.44443 23.0179C8.60888 22.908 8.80222 22.8494 9 22.8494C9.26511 22.8497 9.51927 22.9552 9.70673 23.1426C9.89419 23.3301 9.99966 23.5843 10 23.8494Z" fill="black"/>
                        </svg>
                        span 2
                .search
                    .search__input
                        input(type="text" placeholder="Поиск по каталогу" required)
                    button.search-btn
                        +icon('search')
                .connection
                    a(href="#").social
                        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M9.6 0.399902C4.296 0.399902 0 4.6959 0 9.9999C0 12.1119 0.672 14.0559 1.824 15.6399L0.504 19.1199L4.32 18.0159C5.832 19.0239 7.656 19.5999 9.6 19.5999C14.904 19.5999 19.2 15.3039 19.2 9.9999C19.2 4.6959 14.904 0.399902 9.6 0.399902ZM14.712 13.9839L13.68 14.9919C12.6 16.0719 9.744 14.8959 7.224 12.3519C4.704 9.8319 3.576 6.9759 4.584 5.9199L5.616 4.8879C6 4.5039 6.648 4.5039 7.056 4.8879L8.568 6.3999C9.096 6.9279 8.88 7.8399 8.184 8.0559C7.704 8.2239 7.368 8.7519 7.536 9.2319C7.8 10.3599 9.264 11.7519 10.344 12.0159C10.824 12.1359 11.376 11.8479 11.52 11.3679C11.736 10.6719 12.648 10.4559 13.176 10.9839L14.688 12.4959C15.072 12.9039 15.072 13.5519 14.712 13.9839Z"/>
                        </svg>
                    a(href="#").social
                        <svg width="21" height="20" viewBox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M10.5996 20C16.1238 20 20.5996 15.5242 20.5996 10C20.5996 4.47583 16.1238 0 10.5996 0C5.07544 0 0.599609 4.47583 0.599609 10C0.599609 15.5242 5.07544 20 10.5996 20ZM5.17544 9.78333L14.8171 6.06583C15.2646 5.90417 15.6554 6.175 15.5104 6.85167L15.5113 6.85083L13.8696 14.585C13.7479 15.1333 13.4221 15.2667 12.9663 15.0083L10.4663 13.1658L9.26044 14.3275C9.12711 14.4608 9.01461 14.5733 8.75628 14.5733L8.93378 12.0292L13.5671 7.84333C13.7688 7.66583 13.5221 7.56583 13.2563 7.7425L7.53044 11.3475L5.06211 10.5775C4.52628 10.4075 4.51461 10.0417 5.17544 9.78333Z"/>
                        </svg>
                    p
                        a(href="tel:79690149173") +7 (969) 014-91-73
                        span понедельник - суббота 09:00 - 20:00
                    +btn('Звонок', 'callme')
    .outer.header__bottom
        .inner.header__bottom-container
            ul 
                li 
                    a(href="#").dropdown.menu-js Каталог
                        span продукции
                    .catalog.catalog-js.outer
                        .catalog__line
                        .inner
                            ul
                                li 
                                    a(href="#").catalog-link-js.dropdown._right 
                                        .menu__icon._pink
                                            img(src='./images/terrasnaya.png')
                                        | Террасная доска из ДПК
                                    .catalog__content
                                        ul 
                                            li
                                                a(href="#") Террасная доска для террасы
                                            li
                                                a(href="#") Террасная доска для бассейнов
                                            li
                                                a(href="#") Террасная доска для беседки
                                            li
                                                a(href="#") Террасная доска для пирса, причала и мостиков
                                            li
                                                a(href="#") Террасная доска для кафе и ресторанов
                                        .card 
                                            .card__gallery
                                                img(src='./images/2.png' alt="Террасная доска")
                                                .card__sales -30%
                                                .card__label
                                                    p._purple Выгодно!
                                            .card__content 
                                                h3 Ступень из ДПК WoodVex Select Кофе
                                                p Есть в наличии
                                                .card__order
                                                    .card__price
                                                        .card__price-new
                                                            | 4 870
                                                            div ₽
                                                            div м
                                                                sup 2
                                                        .card__price-old
                                                            | 9 590
                                                            div ₽
                                                            div м
                                                                sup 2
                                                    +btn('', '', true)
                                li 
                                    a(href="#").catalog-link-js.dropdown._right  
                                        .menu__icon._grey
                                            img(src='./images/zabor.png')                            
                                        | Заборы
                                    .catalog__content
                                        ul 
                                            li
                                                a(href="#") Забор 1
                                            li
                                                a(href="#") Забор 2
                                li 
                                    a(href="#").catalog-link-js.dropdown._right  
                                        .menu__icon._beg
                                            img(src='./images/ogragdenie.png')                                  
                                        | Ограждения из ДПК
                                    .catalog__content
                                        ul 
                                            li
                                                a(href="#") Ограждения из ДПК 1
                                            li
                                                a(href="#") Ограждения из ДПК 2
                                li 
                                    a(href="#").catalog-link-js.dropdown._right  
                                        .menu__icon._beg1
                                            img(src='./images/stupeni.png')
                                        | Ступени из ДПК
                                    .catalog__content
                                        ul 
                                            li
                                                a(href="#") Ступени из ДПК 1
                                            li
                                                a(href="#") Ступени из ДПК 2
                                li 
                                    a(href="#").catalog-link-js.dropdown._right  
                                        .menu__icon._pink1
                                            img(src='./images/fasad.png')
                                        | Фасадные панели из ДПК
                                    .catalog__content
                                        ul 
                                            li
                                                a(href="#") Фасадные панели из ДПК 1
                                            li
                                                a(href="#") Фасадные панели из ДПК 2
                                li 
                                    a(href="#").catalog-link-js.dropdown._right  
                                        .menu__icon._grey1
                                            img(src='./images/lavochniy.png')
                                        | Лавочный брус
                                    .catalog__content
                                        ul 
                                            li
                                                a(href="#") Лавочный брус 1
                                            li
                                                a(href="#") Лавочный брус 2
                                li 
                                    a(href="#").catalog-link-js.dropdown._right  
                                        .menu__icon._grey2
                                            img(src='./images/kompl.png')
                                        | Комплектующие
                                    .catalog__content
                                        ul 
                                            li
                                                a(href="#") Комплектующие 1
                                            li
                                                a(href="#") Комплектующие 2
                                li 
                                    a(href="#") 
                                        .menu__icon._yellow %
                                        | Распродажа %
                            ul 
                                li
                                    a(href="#").catalog-link-js._location.dropdown.burgermenu._right 
                                        +icon('location')
                                        | Москва и область
                                    .catalog__content
                                li 
                                    a(href="#").catalog-link-js.dropdown.burgermenu._right Услуги
                                    .catalog__content
                                        ul 
                                            li
                                                a(href="#") Услуги 1
                                            li
                                                a(href="#") Услуги 2
                                li 
                                    a(href="#") Наши объекты
                                li 
                                    a(href="#") Акции
                                li 
                                    a(href="#").catalog-link-js.burgermenu.dropdown._right Информация
                                li 
                                    a(href="#") Контакты
                                li
                                    a(href="#")._small О компании
                                li
                                    a(href="#")._small Блог
                                li
                                    a(href="#")._small Доставка и оплата
                                li
                                    a(href="#")._small Монтаж
                                li
                                    a(href="#")._small Распродажи и акции
                                li
                                    a(href="#")._small Сотрудничество
                                li
                                    a(href="#")._small Контакты
                                li._connection
                                    .connection__mobil
                                        p._mobil
                                            a(href="tel:79690149173") +7 (969) 014-91-73
                                            span понедельник - суббота 09:00 - 20:00
                                        div
                                            a(href="#").social
                                                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M9.6 0.399902C4.296 0.399902 0 4.6959 0 9.9999C0 12.1119 0.672 14.0559 1.824 15.6399L0.504 19.1199L4.32 18.0159C5.832 19.0239 7.656 19.5999 9.6 19.5999C14.904 19.5999 19.2 15.3039 19.2 9.9999C19.2 4.6959 14.904 0.399902 9.6 0.399902ZM14.712 13.9839L13.68 14.9919C12.6 16.0719 9.744 14.8959 7.224 12.3519C4.704 9.8319 3.576 6.9759 4.584 5.9199L5.616 4.8879C6 4.5039 6.648 4.5039 7.056 4.8879L8.568 6.3999C9.096 6.9279 8.88 7.8399 8.184 8.0559C7.704 8.2239 7.368 8.7519 7.536 9.2319C7.8 10.3599 9.264 11.7519 10.344 12.0159C10.824 12.1359 11.376 11.8479 11.52 11.3679C11.736 10.6719 12.648 10.4559 13.176 10.9839L14.688 12.4959C15.072 12.9039 15.072 13.5519 14.712 13.9839Z"/>
                                                </svg>
                                            a(href="#").social
                                                <svg width="21" height="20" viewBox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M10.5996 20C16.1238 20 20.5996 15.5242 20.5996 10C20.5996 4.47583 16.1238 0 10.5996 0C5.07544 0 0.599609 4.47583 0.599609 10C0.599609 15.5242 5.07544 20 10.5996 20ZM5.17544 9.78333L14.8171 6.06583C15.2646 5.90417 15.6554 6.175 15.5104 6.85167L15.5113 6.85083L13.8696 14.585C13.7479 15.1333 13.4221 15.2667 12.9663 15.0083L10.4663 13.1658L9.26044 14.3275C9.12711 14.4608 9.01461 14.5733 8.75628 14.5733L8.93378 12.0292L13.5671 7.84333C13.7688 7.66583 13.5221 7.56583 13.2563 7.7425L7.53044 11.3475L5.06211 10.5775C4.52628 10.4075 4.51461 10.0417 5.17544 9.78333Z"/>
                                                </svg>
                                    +btn('Звонок', 'callme')

                li 
                    a(href="#").dropdown Услуги
                li 
                    a(href="#") Наши объекты
                li 
                    a(href="#") Акции
                li 
                    a(href="#").dropdown Информация
                li 
                    a(href="#") Контакты
            .search
                .search__input
                    input(type="text" placeholder="Поиск" required)
                button.search-btn
                    +icon('search')
            button.basket
                .basket__icon
                    <svg width="26" height="27" viewBox="0 0 26 27" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M21 20.8494C20.4067 20.8494 19.8266 21.0253 19.3333 21.355C18.8399 21.6846 18.4554 22.1531 18.2284 22.7013C18.0013 23.2495 17.9419 23.8527 18.0576 24.4346C18.1734 25.0166 18.4591 25.5511 18.8787 25.9707C19.2982 26.3902 19.8328 26.676 20.4147 26.7917C20.9967 26.9075 21.5999 26.8481 22.1481 26.621C22.6962 26.3939 23.1648 26.0094 23.4944 25.5161C23.8241 25.0227 24 24.4427 24 23.8494C23.9991 23.054 23.6828 22.2914 23.1204 21.729C22.5579 21.1666 21.7954 20.8502 21 20.8494ZM21 24.8494C20.8022 24.8494 20.6089 24.7907 20.4444 24.6808C20.28 24.571 20.1518 24.4148 20.0761 24.232C20.0004 24.0493 19.9806 23.8483 20.0192 23.6543C20.0578 23.4603 20.153 23.2821 20.2929 23.1423C20.4327 23.0024 20.6109 22.9072 20.8049 22.8686C20.9989 22.83 21.2 22.8498 21.3827 22.9255C21.5654 23.0012 21.7216 23.1293 21.8315 23.2938C21.9414 23.4582 22 23.6516 22 23.8494C21.9997 24.1145 21.8942 24.3686 21.7067 24.5561C21.5193 24.7436 21.2651 24.849 21 24.8494Z" fill="black"/>
                        <path d="M15 20.8494H7C6.73478 20.8494 6.48043 20.744 6.29289 20.5565C6.10536 20.3689 6 20.1146 6 19.8494C6 19.5841 6.10536 19.3298 6.29289 19.1423C6.48043 18.9547 6.73478 18.8494 7 18.8494H23C23.2367 18.8494 23.4657 18.7654 23.6463 18.6124C23.8269 18.4595 23.9473 18.2474 23.9863 18.014L25.9863 6.01397C26.0102 5.8707 26.0026 5.72395 25.9641 5.58392C25.9255 5.44388 25.8569 5.31393 25.763 5.20309C25.6692 5.09225 25.5523 5.0032 25.4205 4.94211C25.2887 4.88102 25.1452 4.84937 25 4.84937H9C8.73478 4.84937 8.48043 4.95472 8.29289 5.14226C8.10536 5.32979 8 5.58415 8 5.84937C8 6.11458 8.10536 6.36894 8.29289 6.55647C8.48043 6.74401 8.73478 6.84937 9 6.84937H23.8193L22.1528 16.8494H9.6928L3.9365 1.49827C3.86496 1.30767 3.73697 1.14344 3.56964 1.02749C3.4023 0.911543 3.20358 0.849403 3 0.849365H1C0.734784 0.849365 0.48043 0.954722 0.292893 1.14226C0.105357 1.32979 0 1.58415 0 1.84937C0 2.11458 0.105357 2.36894 0.292893 2.55647C0.48043 2.74401 0.734784 2.84937 1 2.84937H2.3071L7.5571 16.8494H7C6.27135 16.8442 5.56589 17.1052 5.01616 17.5835C4.46642 18.0618 4.11026 18.7243 4.01459 19.4467C3.91891 20.1691 4.09031 20.9015 4.49658 21.5064C4.90285 22.1113 5.51603 22.547 6.2209 22.7317C6.03292 23.1834 5.95808 23.6741 6.00287 24.1613C6.04766 24.6485 6.21072 25.1174 6.4779 25.5273C6.74508 25.9371 7.10829 26.2755 7.53598 26.5131C7.96367 26.7507 8.4429 26.8803 8.93205 26.8906C9.42119 26.9009 9.90544 26.7916 10.3427 26.5722C10.78 26.3528 11.1572 26.0299 11.4414 25.6317C11.7255 25.2334 11.9082 24.7718 11.9734 24.2869C12.0387 23.802 11.9845 23.3086 11.8157 22.8494H15C15.2652 22.8494 15.5196 22.744 15.7071 22.5565C15.8946 22.3689 16 22.1146 16 21.8494C16 21.5841 15.8946 21.3298 15.7071 21.1423C15.5196 20.9547 15.2652 20.8494 15 20.8494ZM10 23.8494C10 24.0471 9.94135 24.2405 9.83147 24.4049C9.72159 24.5694 9.56541 24.6976 9.38268 24.7732C9.19996 24.8489 8.99889 24.8687 8.80491 24.8302C8.61093 24.7916 8.43275 24.6963 8.29289 24.5565C8.15304 24.4166 8.0578 24.2384 8.01921 24.0445C7.98063 23.8505 8.00043 23.6494 8.07612 23.4667C8.15181 23.284 8.27998 23.1278 8.44443 23.0179C8.60888 22.908 8.80222 22.8494 9 22.8494C9.26511 22.8497 9.51927 22.9552 9.70673 23.1426C9.89419 23.3301 9.99966 23.5843 10 23.8494Z" fill="black"/>
                    </svg>
                    span 2
                p 7 890 ₽
