.header {
    z-index: 100;
    position: relative;
}
.header__top {
    display: none;
    @media (min-width: 1300px) {
        background: #F7F7F7;
        display: block;
    }
    &-container {
        padding-top: 10px;
        padding-bottom: 14px;
        display: flex;
        justify-content: space-between;
    }    
    
    ul {
        display: flex;
        max-width: 790px;
        width: 100%;
        justify-content: space-between;
        li {
            a {
                font-size: 13px;
                color: $grey;
                transition: .4s;
                &:hover {
                    color: black;
                }
            }
        }
    }
}
.header__center {
    @media (min-width: 1300px) {
        border-bottom: 1px solid #DFDFDF;    
    }
    &-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 15px;
        padding-bottom: 15px;
        @media (min-width: 1300px) {
            padding-top: 17px;
            padding-bottom: 17px;
        }
        .basket {
            @media(min-width: 1300px) {
                display: none;
            }
        }
        .search {
            display: none;
            @media(min-width: 1300px) {
                display: block;
            }
        }
        .connection {
            display: none;
            @media(min-width: 1300px) {
                display: flex;
            }
        }
    }
}

.connection {
    display: none;
    align-items: center;
    gap: 15px;
    p {
        padding-left: 8px;
        padding-right: 15px;
        a {
            font-weight: 600;
            font-size: 20px;
            line-height: 120%;
            color: #000;
            transition: .4s;
            &:hover {
                color: #0042A4;
            }
        }
        span {
            display: block;
            font-weight: 400;
            font-size: 12px;
            line-height: 110%;
            color: $grey;
        }
    }
}

.social {
    width: 20px;
    height: 20px;
    display: flex;
    transition: .4s;
    &:hover {
        svg {
            fill: #0042A4;
        }
    }
    svg {
        transition: .4s;
        fill: black;
    }
}
.header__bottom {
    z-index: 2;
    background: white;
    padding-bottom: 18px;
    @media (min-width: 1300px) {
        padding-bottom: 0;
        border-bottom: 1px solid #DFDFDF;
    }
}
.header__bottom-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
    .search {
        display: flex;
        max-width: unset;
        .search__input input {
            padding: 9px 20px;
        }
        .search-btn {
            top: 3px;
        }
        @media (min-width: 1300px) {
            display: none;
        }
    }
    .basket {
        display: none;
        @media (min-width: 1300px) {
            display: flex;
        }
    }
    & > ul {
        display: flex;
        gap: 30px;
        
        // padding-bottom: 18px;
        @media (min-width: 1300px) {
            padding-top: 22px;    
            padding-bottom: 22px;
        }
        a {
            display: flex;
            gap: 15px;
            align-items: center;
            font-weight: 600;
            font-size: 20px;
            line-height: 16px;
            color: #000000;
            transition: .4s;
            cursor: pointer;
            // padding-top: 22px;
            // padding-bottom: 22px;
            @media (min-width: 1300px) {
                // padding-top: 22px;
                // padding-bottom: 22px;
            }
            &:hover {
                color: $blue;
                &.dropdown:not(._right) {
                    &::after {
                        @media (min-width: 1300px) {
                            transform: translateY(-50%);   
                        }
                        background-image: url("data:image/svg+xml,%3Csvg width='6' height='4' viewBox='0 0 6 4' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.132069 3.01052C0.216659 3.08398 0.331371 3.12524 0.450981 3.12524C0.57059 3.12524 0.685303 3.08398 0.769892 3.01052L3.00272 1.07101L5.23555 3.01052C5.32063 3.0819 5.43457 3.12139 5.55284 3.1205C5.67111 3.11961 5.78425 3.0784 5.86788 3.00575C5.95152 2.9331 5.99896 2.83483 5.99998 2.7321C6.00101 2.62936 5.95554 2.53039 5.87338 2.45649L3.32163 0.239964C3.23705 0.166509 3.12233 0.125244 3.00272 0.125244C2.88311 0.125244 2.7684 0.166509 2.68381 0.239964L0.132069 2.45649C0.0475054 2.52997 0 2.62961 0 2.73351C0 2.8374 0.0475054 2.93705 0.132069 3.01052Z' fill='%230042A4'/%3E%3C/svg%3E%0A");
                    }
                }
                &.dropdown._right {
                    &::after {
                        background-image: url("data:image/svg+xml,%3Csvg width='6' height='4' viewBox='0 0 6 4' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.132069 3.01052C0.216659 3.08398 0.331371 3.12524 0.450981 3.12524C0.57059 3.12524 0.685303 3.08398 0.769892 3.01052L3.00272 1.07101L5.23555 3.01052C5.32063 3.0819 5.43457 3.12139 5.55284 3.1205C5.67111 3.11961 5.78425 3.0784 5.86788 3.00575C5.95152 2.9331 5.99896 2.83483 5.99998 2.7321C6.00101 2.62936 5.95554 2.53039 5.87338 2.45649L3.32163 0.239964C3.23705 0.166509 3.12233 0.125244 3.00272 0.125244C2.88311 0.125244 2.7684 0.166509 2.68381 0.239964L0.132069 2.45649C0.0475054 2.52997 0 2.62961 0 2.73351C0 2.8374 0.0475054 2.93705 0.132069 3.01052Z' fill='%230042A4'/%3E%3C/svg%3E%0A");    
                        transform: scale(-1);
                        @media (min-width: 1300px) {
                            transform: translateY(-50%) rotate(90deg) scale(-1);
                        }
                        
                    }
                }
            }

        } 
        li {
            &:hover {
                & > a {
                    & ~ .catalog {
                        background: white;
                    }
                    & ~ .catalog__content, & ~ .catalog {
                        display: flex;
                        flex-direction: column;
                        @media (min-width: 1300px) {
                            flex-direction: row;
                        }
                    }
                }

            }
        }
        & > li:first-child {
            @media (max-width: 1300px) {
                & > a {
                    border: 1px solid #000000;
                    border-radius: 5px;
                    min-width: 113px;
                    display: flex;
                    padding: 6.5px;
                    justify-content: center;
                    width: 100%;
                    height: fit-content;
                    font-weight: 700;
                    font-size: 14px;
                    line-height: 16px;
                    &.dropdown::after {
                        position: unset;
                        // top: unset;
                        
                        transform: scale(-1);
                    }
                }
                
            }
        }
        & > li:not(:first-child) {
            @media (max-width: 1300px) {
                display: none;
            }
        }
    }
}
a.dropdown {
    padding-right: 16px;
    position: relative;
    span {
        margin-left: -8px;
        @media (max-width: 1300px) {
            display: none;
        }
    }
    &._right {
        &::after {
            transform: translateY(-50%) rotate(90deg);
        }    
    }
    &::after {
        content: '';
        position: absolute;
        width: 6px;
        height: 4px;
        right: 0;
        top: 50%;
        transition: .4s;
        transform: translateY(-50%) scale(-1);
        background-image: url("data:image/svg+xml,%3Csvg width='6' height='4' viewBox='0 0 6 4' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.132069 3.01052C0.216659 3.08398 0.331371 3.12524 0.450981 3.12524C0.57059 3.12524 0.685303 3.08398 0.769892 3.01052L3.00272 1.07101L5.23555 3.01052C5.32063 3.0819 5.43457 3.12139 5.55284 3.1205C5.67111 3.11961 5.78425 3.0784 5.86788 3.00575C5.95152 2.9331 5.99896 2.83483 5.99998 2.7321C6.00101 2.62936 5.95554 2.53039 5.87338 2.45649L3.32163 0.239964C3.23705 0.166509 3.12233 0.125244 3.00272 0.125244C2.88311 0.125244 2.7684 0.166509 2.68381 0.239964L0.132069 2.45649C0.0475054 2.52997 0 2.62961 0 2.73351C0 2.8374 0.0475054 2.93705 0.132069 3.01052Z' fill='%23000000'/%3E%3C/svg%3E%0A");
    }
}
.menu__icon {
    width: 27px;
    height: 27px;
    border-radius: 50%;
    position: relative;
    &._pink {
        background: #F6F4F1;
    }
    &._pink1 {
        background: #F8EFEC;
    }
    &._grey {
        background: #F4F4F4;
    }
    &._grey1 {
        background: #F7F7F8;
    }
    &._grey2 {
        background: #F6F6FA;
    }
    &._beg {
        background: #F5F7F0;
    }
    &._beg1 {
        background: #F9F7F3;
    }
    &._yellow {
        background: #E0E326;
        font-weight: 600;
        font-size: 16px;
        line-height: 16px;
        color: #000;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    img {
        position: absolute;
        height: 25px;
        object-fit: contain;
        top: -2px;
        right: -5px;
    }
}

.catalog {
    // padding: 0;
    padding-top: 22px;
    display: none;
    position: absolute;
    width: 100%;
    max-width: 375px;
    left: 0;
    background: transparent;
    // box-shadow: 0px 14px 50px -5px rgba(34, 60, 80, 0.6);
    // z-index: -1;
    @media (min-width: 1300px) {
        max-width: 100%;
    }
    .catalog__line {
        width: 100%;
        height: 1px;
        margin-left: -24px;
        background: #DFDFDF;
        position: absolute;
    }
    .inner {
        width: 100%;
        position: relative;
        // padding: 0 12px;
        & > ul {
            width: fit-content;
            // background: #FFFFFF;
            display: flex;
            flex-direction: column;
            // position: absolute;
            padding-top: 31px;
            padding-bottom: 31px;
            
            max-width: 400px;
            width: 100%;
            
            @media (min-width: 1300px) {
                border-right: 1px solid #DFDFDF;
                padding-right: 41px;
                padding-top: 53px;
                padding-bottom: 87px;
            }
            & > li {
                width: 100%;
                & > a {
                    padding: 15px 0;
                }
                & > .catalog__content {
                    display: none;
                    
                    @media (min-width: 1300px) {
                        height: 100%;
                        position: absolute;
                        padding-top: 68px;
                        width: calc(100% - 360px);
                        left: 350px;
                        top: 0;    
                    }
                    & > ul {
                        flex-direction: column;
                        display: flex;
                        gap: 30px;
                        
                        
                        width: 100%;
                        @media (min-width: 1300px) {
                            padding-left: 100px;
                            padding-bottom: 87px;
                            padding-right: 41px;
                            max-width: 525px;
                        }
                        & > li {
                            display: block;
                            a {
                                padding: 0;
                                position: relative;
                                transition: .4s;
                                &::before {
                                    contain: '';
                                    position: absolute;
                                    bottom: 0;
                                    left: 0;
                                    width: 100%;
                                    height: 1px;
                                    background: red;
                                }
                                &:hover {
                                    text-decoration: underline;
                                    
                                }
                            }
                            // border: 1px solid red;
                        }
                    }
                    .card {
                        margin-left: auto;
                        border: 1px solid #E8E8E8;
                        border-radius: 10px;
                        max-width: 320px;
                        padding: 0;
                        min-height: 441px;
                        padding-bottom: 36px;
                        height: fit-content;
                        .card__gallery {
                            display: flex;
                            padding-bottom: 43px;
                            .card__sales {
                                position: absolute;
                                top: 20px;
                                left: 27px;
                                width: 68px;
                                height: 68px;
                                border-radius: 50%;
                                background: #E0E326;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                font-weight: 700;
                                font-size: 12px;
                                line-height: 105%;
                            }
                            .card__label {
                                top: unset;
                                bottom: 0;
                            }
                        }
                        .card__content {
                            padding-top: 13px;
                            padding-left: 27px;
                            padding-right: 27px;
                            .card__order {
                                margin-top: 20px;
                                a {
                                    width: 40px;
                                    height: 33px;
                                    border: 1px solid #000000;
                                    border-radius: 5px;
                                    svg {
                                        margin-left: 0;
                                    }
                                }
                            }
                        }
                    }
                }
                
            }
    
        }
    }
    
}
.basket {
    display: flex;
    border: none;
    background: transparent;
    align-items: center;
    .basket__icon {
        position: relative;
        display: flex;
        svg {
            fill: black;
        }
        span {
            position: absolute;
            top: -4px;
            right: -6px;
            background: #0042A4;
            padding: 0 4px;
            border-radius: 50%;
            font-weight: 700;
            font-size: 10px;
            line-height: 16px;
            color: #fff;
        }
    }
    p {
        margin: 0;
        display: block;
        font-weight: 600;
        font-size: 16px;
        line-height: 120%;
        margin-left: 19px;
        span {
            font-weight: 600;
            font-size: 16px;
            line-height: 120%;
            margin-left: 3px;
        }
    }
}