.header {
    z-index: 100;
    position: relative;
    & > .outer {
        @media (min-width: 1400px) {
            border-bottom: 1px solid #000;
        }        
    }
}
.header nav {
    display: flex;
    padding: 15px 20px;
    position: fixed;
    left: 0;
    max-width: 375px;
    width: 100%;
    height: 100vh;
    background: white;
    top: 60px;
    gap: 30px;
    flex-direction: column;
    transform: translateX(-100%);
    transition: transform .4s;
    &.is-active {
        transform: translateX(0);
    }
    @media (min-width: 992px) {
        top: 94px;
    }
    @media (min-width: 1400px) {
        transition: unset;
        transform: unset;
        position: unset;
        padding: 15px 0;
        flex-direction: row;
        justify-content: space-between;
        max-width: 100%;
        height: unset;
        gap: unset;
    }
    .links, .contacts {
        @media (min-width: 1400px) {
            display: none;
        }
    }
}
.header nav > ul {
    display: flex;
    flex-direction: column;
    gap: 30px;
    @media (min-width: 1400px) {
        flex-direction: row;
    }
    & > li {
        font-weight: 500;
        font-size: 20px;
        transition: .4s;
        color: #000;
        cursor: pointer;
        position: relative;
        
        @media (min-width: 1400px) {
            font-size: 18px;
        }
        span {
            display: block;
            transition: transform .4s;
        }
        &.dropdown {
            display: flex;
        }
        .border {
            padding: 5px 11.5px;
            border: 1px solid #555557;
            border-radius: 5px;
        }
        &:hover {
            color: #F56308;
        }
        & > a {
            color: inherit;
        }
        .dropdown__content {
            visibility: hidden;
            opacity: 0;
            position: absolute;
            padding-left: 0;
            left: 0;
            display: none;
            cursor: default;
            ul {
                cursor: default;
                li:first-child {
                    font-weight: 600;
                    font-size: 20px;
                    line-height: 130%;
                    color: #584C3B;
                    margin-bottom: 20px;
                }
                li:not(:first-child) {
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 130%;
                    margin-bottom: 10px;
                    a {
                        color: #000;
                        transition: .4s;
                        &:hover {
                            color: #F56308;
                        }
                    }
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
            
        }
        &:hover {
            span {
                transform: rotate(180deg);
            }
            .dropdown__content {
                visibility: visible;
                opacity: 1;
                padding-top: 30px;
                display: block;
                > ul {                    
                    min-width: 300px;
                    text-align: left;
                    background: #FFFFFF;
                    border-radius: 20px;
                    box-shadow: 0px 3px 5px -1px #ccc;
                    padding: 40px;
                }
            }
        }
    }
}

.header__bottom {
    padding: 10px 0;
    @media (min-width: 1400px) {
        padding: 20px 0;
    }
}
.header__bottom-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__bottom {
    .links {
        display: none;
        @media (min-width: 1400px) {
            display: flex;
        }
    }
    .contacts {
        display: none;
        @media (min-width: 1400px) {
            display: flex;
        }
    }
}
.links {
    display: flex;
    gap: 28px;
    flex-direction: column;
    @media (min-width: 1400px) {
        flex-direction: row;
    }
    a {
        display: flex;
        align-items: center;
        gap: 7px;
        font-weight: 500;
        font-size: 12px;
        line-height: 130%;
        color: #555557;
        .icon {
            width: 27px;
            height: 27px;
        }
    }
}

.contacts {
    display: flex;
    gap: 40px;
    flex-direction: column;
    @media (min-width: 1400px) {
        flex-direction: row;
    }
    p {
        display: flex;
        flex-direction: column;
        justify-content: center;
        a {
            font-weight: 500;
            font-size: 20px;
            line-height: 120%;
            color: #000000;
        }
        span {
            font-weight: 400;
            font-size: 12px;
            line-height: 110%;
            color: #555557;
        }
    }
    button {
        border: 1px solid #F56308;
        border-radius: 5px;
        font-weight: 600;
        font-size: 14px;
        line-height: 16px;
        color: #F56308;
        background: white;
        padding: 14.5px 23px;
        transition: .4s;
        &:hover {
            border-color: #584C3B;
            color: #584C3B;
        }
    }
}