a.video {
    height: 300px;
    width: 100%;
    background: linear-gradient(22.85deg, rgba(4, 6, 14, 0.25) 5.8%, rgba(4, 7, 14, 0) 44.54%);
    border-radius: 10px;
    overflow: hidden;
    transition: .4s ease-out;
    position: relative;
    display: flex;
    @media (min-width: 992px) {
        height: 457px;
    }
    &:hover {
        img {
            transform: scale(1.1);
        }
        &::after {
            transform: translate(-50%, -50%) scale(.7);
        }
    }
    &::after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        width: 73px;
        height: 73px;
        border-radius: 50%;
        background: white;
        transform: translate(-50%, -50%);
        transition: .4s ease-out;
        background-repeat: no-repeat;
        background-position: 55% center;
        background-size: 20px;
        background-image: url("data:image/svg+xml,%3Csvg width='48' height='55' viewBox='0 0 48 55' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M47.5723 27.376L0.777395 54.3931L0.777397 0.358991L47.5723 27.376Z' fill='%23F56308'/%3E%3C/svg%3E%0A");
        @media (min-width: 992px) {
            width: 146px;
            height: 146px;
            background-size: 50px;
        }
    }
    img {
        transition: .4s ease-out;
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        object-fit: cover;
        width: 100%;
        z-index: -1;
    }
    p {
        line-height: 130%;
        color: #FFFFFF;
        margin-top: auto;
        padding: 10px;
        max-width: 340px;
        @media (min-width: 992px) {
            padding: 31px 54px;
        }
    }
}