*,
*::before,
*::after {
	box-sizing: border-box;
}	

p {
	margin: 0;
}
	
	
a {
	text-decoration: none;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.flex {
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
}	

.outer {
	padding-left: 24px;
	padding-right: 24px;
}
	
.inner {
	max-width: 1400px;
	margin-left: auto;
	margin-right: auto;
}
	
body {
	min-width: 320px;
	overflow: auto;
	z-index: 100;
	&.is-active {
		overflow: hidden;
	}
}
	

// body.category {
// 	.wrapper {
// 		width: 100%;
// 		display: flex;
// 		flex-direction: column;
// 		@media (min-width: 992px) {
// 			display: grid;
// 			grid-template-columns: 320px minmax(320px, 1038px);
// 			column-gap: 40px;
// 			grid-template-areas: "sidebar content";			
// 		}
// 		main {
			
// 			display: flex;
// 			flex-direction: column;
// 			gap: 70px;
// 			padding-top: 33px;
// 			@media (min-width: 992px) {
// 				padding-bottom: 157px;
// 			}
// 		}
// 	}
// }
	
// aside {
// 	grid-area: sidebar;
// 	padding-top: 30px;
// 	display: flex;
// 	flex-direction: column;
// 	gap: 30px;
// 	padding-bottom: 70px;
// 	@media (min-width: 992px) {
// 		padding-top: 33px;
// 		gap: 50px;
// 	}
// }	

// main {
// 	grid-area: content;
// }
	
// header {
// 	grid-area: header;
// }
	
// footer {
// 	grid-area: footer;
// }
	