.footer {
    padding-top: 81px;
    padding-bottom: 100px;
    background: #F8F8F8 url("data:image/svg+xml,%3Csvg width='1899' height='202' viewBox='0 0 1899 202' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M675.608 44.8387C665.787 46.4234 649.835 51.254 640.158 55.5744C630.481 59.8916 617.091 67.6461 610.408 72.8051C603.724 77.9673 594.377 89.1302 589.64 97.6148C584.9 106.099 580.029 120.358 578.812 129.299C577.297 140.44 578.239 151.051 581.805 163.008C585.014 173.772 591.92 185.898 599.814 194.641C606.858 202.437 619.895 212.678 628.787 217.394C637.679 222.113 654.396 228.139 665.938 230.792C677.476 233.442 696.045 235.632 707.204 235.658C718.36 235.683 735.29 234.105 744.826 232.147C754.359 230.19 769.676 225.04 778.859 220.697C788.042 216.358 801.75 206.945 809.326 199.781L823.096 186.753L804.275 176.358L785.454 165.96L773.975 175.784C767.661 181.189 755.884 188.458 747.806 191.943C739.729 195.425 724.088 198.98 713.053 199.845C699.526 200.903 686.718 199.637 673.743 195.961C660.563 192.227 650.692 186.804 642.432 178.753C635.797 172.286 628.551 161.072 626.323 153.831C624.082 146.539 623.232 135.708 624.416 129.554C625.594 123.445 629.833 113.621 633.838 107.726C638.038 101.546 648.644 93.2912 658.881 88.2374C673.681 80.9326 680.839 79.469 701.816 79.469C715.854 79.469 733.153 81.5894 740.93 84.2614C748.595 86.8983 761.756 93.8779 770.173 99.7734L785.481 110.49L803.264 104.116C813.046 100.612 821.693 97.1907 822.481 96.5116C823.266 95.8324 817.378 88.7667 809.395 80.8082C801.409 72.8529 786.014 62.2065 775.185 57.1495C764.353 52.0958 745.951 46.4521 734.292 44.6092C722.629 42.763 708.673 41.4111 703.275 41.6024C697.877 41.7969 685.426 43.2509 675.608 44.8387ZM1676.54 58.7438V76.2805H1787.77H1899V58.7438V41.207H1787.77H1676.54V58.7438ZM-5 138.456V229.329H17.9003H40.8007V138.456V47.584H17.9003H-5V138.456ZM60.4296 64.7254V82.6575H98.1562C124.809 82.6575 139.442 84.1051 148 87.5933C154.668 90.3068 163.592 95.6858 167.835 99.5502C172.082 103.412 177.62 110.445 180.149 115.18C182.678 119.918 184.746 131.225 184.746 140.312C184.746 151.5 182.541 160.31 177.918 167.602C174.162 173.523 164.436 182.171 156.303 186.813C143.031 194.395 137.371 195.416 100.973 196.784L60.4296 198.304V213.817V229.329H105.635C136.632 229.329 156.127 227.798 167.649 224.463C176.894 221.788 190.746 214.923 198.434 209.209C206.122 203.492 216.862 191.806 222.299 183.236C231.299 169.047 232.179 165.205 232.143 140.299C232.11 118.439 230.69 110.388 225.07 100.194C221.2 93.1796 213.119 82.8552 207.116 77.2498C201.11 71.6445 187.363 63.112 176.567 58.2878C158.63 50.2719 152.777 49.3983 108.684 48.1548L60.4296 46.7933V64.7254ZM855.399 138.456V229.329H878.299H901.199L901.206 203.023L901.209 176.718L968.746 130.485C1005.89 105.057 1048.07 76.0031 1062.48 65.9179L1088.68 47.584H1057.07H1025.46L996.864 67.6333C981.135 78.6592 954.014 97.3119 936.597 109.084C919.179 120.853 904.091 130.485 903.064 130.485C902.04 130.485 901.199 111.832 901.199 89.0345V47.584H878.299H855.399V138.456ZM1241.43 49.7044C1241.43 50.8714 1253.92 75.2634 1269.18 103.909L1296.93 155.993H1257.73C1235.51 155.993 1218.53 154.699 1218.53 153.002C1218.53 151.36 1224.3 139.662 1231.34 127.006L1244.15 104.001L1233.91 83.764C1228.28 72.6329 1222.8 63.5265 1221.73 63.5265C1220.67 63.5265 1207.9 85.4092 1193.37 112.151C1178.84 138.896 1158.56 176.199 1148.29 195.052L1129.64 229.329H1152.6H1175.56L1186.35 210.198L1197.14 191.067H1256.72H1316.29L1326.76 210.198L1337.22 229.329H1359.66C1372.01 229.329 1382.11 228.665 1382.11 227.856C1382.11 227.049 1363.56 192.253 1340.89 150.534C1318.22 108.819 1296.08 68.5867 1291.68 61.1352L1283.69 47.584H1262.56C1250.94 47.584 1241.43 48.5374 1241.43 49.7044ZM1414.82 138.456V229.329H1437.72H1460.62V138.456V47.584H1437.72H1414.82V138.456ZM1480.25 64.8976V82.208L1531.26 83.2315C1580.3 84.2135 1582.5 84.5419 1588.51 91.7798C1591.94 95.9185 1594.75 102.799 1594.75 107.069C1594.75 111.338 1591.14 118.353 1586.72 122.657C1578.91 130.275 1577.37 130.485 1529.47 130.485H1480.25V148.022V165.559L1513.78 165.673L1547.32 165.785L1569.57 197.558L1591.82 229.329H1618.01H1644.19L1621.3 196.646L1598.42 163.964L1607.22 159.599C1612.06 157.198 1620.01 151.603 1624.89 147.161C1630.51 142.047 1635.13 133.128 1637.5 122.814C1640.35 110.391 1640.3 103.144 1637.29 92.2071C1634.74 82.9828 1628.92 73.7808 1620.95 66.3866C1613.39 59.3719 1602.77 53.4732 1593.67 51.2412C1585.47 49.2293 1556.6 47.584 1529.51 47.584H1480.25V64.8976ZM1764.87 160.776V226.14H1787.77H1810.67V160.776V95.4116H1787.77H1764.87V160.776ZM982.168 145.296C973.62 151.513 966.629 157.568 966.629 158.745C966.629 159.921 982.453 176.199 1001.8 194.918L1036.97 228.952L1065.6 229.938C1081.35 230.48 1094.23 230.186 1094.22 229.287C1094.22 228.391 1072.5 206.579 1045.96 180.819L997.708 133.986L982.168 145.296Z' fill='white'/%3E%3Cpath d='M315.527 100.185L364.677 50.393C391.713 23.0082 414.572 0.643699 415.481 0.695892C416.391 0.748084 421.961 5.23338 427.862 10.6614L438.592 20.5291L426.085 34.2166C419.206 41.7421 396.705 64.9156 376.087 85.711L338.596 123.521L327.063 111.853L315.527 100.185Z' fill='white'/%3E%3Cpath d='M368.495 153.764L418.616 103.306C446.181 75.5563 469.459 52.8363 470.346 52.8232C471.233 52.8069 476.093 58.0359 481.15 64.4458L490.338 76.0945L467.882 99.5094C455.533 112.391 433.193 135 418.242 149.758L391.061 176.585L379.78 165.174L368.495 153.764Z' fill='white'/%3E%3Cpath d='M420.883 206.533L470.611 155.985C497.959 128.186 521.138 105.339 522.121 105.211C523.102 105.088 528.865 110.16 534.928 116.485L545.945 127.987L495.266 179.247L444.588 230.506L432.735 218.521L420.883 206.533Z' fill='white'/%3E%3Cpath d='M270.473 145.905L285.518 130.456L300.559 115.007L364.841 180.548L429.12 246.092L414.253 261.13L399.382 276.168L334.929 211.035L270.473 145.905Z' fill='white'/%3E%3C/svg%3E%0A") no-repeat center bottom;
    background-size: contain;

}
.footer__content {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    flex-wrap: wrap;
}
.footer__first {
    max-width: 483px;
    & > p {
        font-weight: 400;
        font-size: 14px;
        line-height: 120%;
        margin-top: 44px;
    }
    & > a {
        display: block;
        text-decoration: underline;
        font-weight: 400;
        font-size: 14px;
        line-height: 120%;
        margin-top: 11px;
        transition: .4s;
        color: black;
        &:hover {
            color: $blue;
        }
        &:first-child {
            margin-top: 19px;
        }
        
    }
}
.footer__logo {
    a {
        display: block;
        width: fit-content;
        height: 100%;        
        svg {
            height: 38px;
            width: 250px;
        }
    }
}
.footer__desc {
    margin-top: 30px;
    font-weight: 400;
    font-size: 12px;
    line-height: 110%;
    color: #3F4042;
}

.footer__contacts {
    margin-top: 38px;
}

.footer__contacts {
    .connection {
        max-width: fit-content;
        &:first-child {
            margin-bottom: 27px;
        }
        ._mobil {
            padding: 0;
        }        
    }
    & > button {
        margin-top: 21px;
    }
}
.footer__two {
    
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    
    width: 100%;
    
    @media (min-width: 992px) {
        gap: 24px;
        max-width: 555px;
        max-height: 466px;
    }
    ul {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        border-bottom: 1px solid #E8E8E8;
        @media (min-width: 992px) {
            border-bottom: none;
        }
        &._active {
            li {
                &:nth-child(n + 2) {
                    display: block;
                    @media (min-width: 992px) {
                        display: block;
                    }                
                }
                &:first-child {
                    @media (max-width: 992px) {
                        &::after {
                            content: '';
                            transform: translateY(-50%) scale(1);
                        }
                    }   
                }
            }
        }
        li {
            font-weight: 600;
            font-size: 18px;
            line-height: 130%;
            @media (min-width: 425px) {
                font-size: 24px;
            }
            &:nth-child(n + 2) {
                display: none;
                @media (min-width: 992px) {
                    display: block;
                }                
            }
            &:first-child {
                padding: 9px 0;
                position: relative;
                transition: .4s;
                @media (min-width: 992px) {
                    padding: 0;
                    margin-bottom: 20px;
                }
                @media (max-width: 992px) {
                    cursor: pointer;
                    &:hover {
                        color: $blue;
                    }
                    &::after {
                        content: '';
                        position: absolute;
                        right: 6px;
                        width: 6px;
                        height: 4px;
                        top: 50%;
                        transition: .4s;
                        transform: translateY(-50%) scale(-1);
                        background-image: url("data:image/svg+xml,%3Csvg width='6' height='4' viewBox='0 0 6 4' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.132069 3.01052C0.216659 3.08398 0.331371 3.12524 0.450981 3.12524C0.57059 3.12524 0.685303 3.08398 0.769892 3.01052L3.00272 1.07101L5.23555 3.01052C5.32063 3.0819 5.43457 3.12139 5.55284 3.1205C5.67111 3.11961 5.78425 3.0784 5.86788 3.00575C5.95152 2.9331 5.99896 2.83483 5.99998 2.7321C6.00101 2.62936 5.95554 2.53039 5.87338 2.45649L3.32163 0.239964C3.23705 0.166509 3.12233 0.125244 3.00272 0.125244C2.88311 0.125244 2.7684 0.166509 2.68381 0.239964L0.132069 2.45649C0.0475054 2.52997 0 2.62961 0 2.73351C0 2.8374 0.0475054 2.93705 0.132069 3.01052Z' fill='%23000000'/%3E%3C/svg%3E%0A");
                    }
                }                
            }
            a {
                font-weight: 400;
                font-size: 15px;
                line-height: 220%;
                color: #5F5F61;
                transition: .4s;
                padding: 9px 0;
                @media (min-width: 425px) {
                    font-size: 16px;
                }
                &:hover {
                    color: $blue;
                }
            }
        }
    }
}