.footer {
    background: #F4F4F4;
    padding-top: 78px;
    padding-bottom: 63px;
    font-size: inherit;
}
.footer__container {
    display: flex;
    flex-direction: column-reverse;
    gap: 20px;
    padding-bottom: 38px;
    @media (min-width: 1200px) {
        padding-bottom: 78px;
        display: grid;
        grid-template-columns: 1fr 448px;
        gap: 20px;
    }
}
.footer__row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    @media (min-width: 1200px) {
        flex-direction: row;
    }
}
.footer__column {
    
    @media (min-width: 1200px) {
        flex: 50%;
        max-width: 50%;    
    }
}
.footer__column ul {
    @media (max-width: 1200px) {
        &._active {
            border-bottom: 1px solid #AEB0B0;
            li {
                &:nth-child(n+2) {
                    display: block;
                }
                &:first-child {
                    border-bottom: unset;
                    &::after {
                        transform: translateY(-50%);
                    }
                }
            }    
        }
    }

    vertical-align: middle;
    @media (min-width: 1200px) {
        margin-top: 62px;
        &:first-child {
            margin-top: 0;
        }
    }
    
    li {
        color: #000000;
        a {
            font-weight: 300;
            font-size: .93rem;
            line-height: 250%;
            color: inherit;
            transition: .4s ease-out;
            &:hover {
                color: #F56308;
            }
        }

        &:first-child {
            font-weight: 500;
            font-size: 1rem;
            line-height: 130%;
            position: relative;
            @media (min-width: 768px) {
                font-size: 1.25rem;
            }
            @media (max-width: 1200px) {
                padding: 10px 0;
                border-bottom: 1px solid #AEB0B0;
                &::after {
                    content: '';
                    position: absolute;
                    top: 50%;
                    right: 6px;
                    width: 6px;
                    height: 4px;
                    transition: 0.4s;
                    transform: translateY(-50%) scale(-1);
                    background-image: url("data:image/svg+xml,%3Csvg width='6' height='4' viewBox='0 0 6 4' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.132069 3.01052C0.216659 3.08398 0.331371 3.12524 0.450981 3.12524C0.57059 3.12524 0.685303 3.08398 0.769892 3.01052L3.00272 1.07101L5.23555 3.01052C5.32063 3.0819 5.43457 3.12139 5.55284 3.1205C5.67111 3.11961 5.78425 3.0784 5.86788 3.00575C5.95152 2.9331 5.99896 2.83483 5.99998 2.7321C6.00101 2.62936 5.95554 2.53039 5.87338 2.45649L3.32163 0.239964C3.23705 0.166509 3.12233 0.125244 3.00272 0.125244C2.88311 0.125244 2.7684 0.166509 2.68381 0.239964L0.132069 2.45649C0.0475054 2.52997 0 2.62961 0 2.73351C0 2.8374 0.0475054 2.93705 0.132069 3.01052Z' fill='%23000000'/%3E%3C/svg%3E%0A");
                }
            }
            @media (min-width: 1200px) {
                margin-bottom: 15px;    
                padding: 0;
            }
        }
        &:nth-child(n+2) {
            display: none;
        }
        @media (min-width: 1200px) {
            &:nth-child(n+2) {
                display: block;
            }
        }
    }
  }

.footer__content {
    .links {
        margin-top: 26px;
        flex-direction: row;
        @media (min-width: 1200px) {
            margin-top: 76px;    
        }
    }
    .contacts {
        margin-top: 37px;
        button {
            background: transparent;
        }
    }
    .address {
        margin-top: 27px;
        line-height: 150%;
    }
    .time {
        margin-top: 19px;
        color: #AEB0B0;
        font-size: .87rem;
        line-height: 150%;
    }
}

.footer__bottom {
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    flex-wrap: wrap;
    border-top: 1px solid #E0E0E0;
    p {
        font-weight: 400;
        font-size: .87rem;
        line-height: 150%;
        color: #AEB0B0;
        max-width: 854px;
    }
    ul {
        display: flex;
        flex-wrap: wrap;
        li {
            margin-right: 34px;
                &:last-child {
                    margin-right: 0;
                }
            a {
                font-weight: 400;
                font-size: .87rem;
                line-height: 150%;
                color: #555557;
                transition: .4s ease-out;
                &:hover {
                    color:#F56308;
                }
            }
        }
    }
}