footer.footer 
    .outer
        .inner
            .footer__content
                .footer__first
                    .footer__logo
                        a(href="/")
                            +icon('logo')
                    .footer__desc ©2013–2022. Все права защищены.<br>
                        | Данный сайт носит информационно-справочный характер и ни при каких условиях не является публичной офертой.
                    .footer__contacts
                        .connection.connection__mobil
                            p._mobil
                                a(href="tel:89690149173") 8 (969) 014-91-73
                                span понедельник - суббота 09:00 - 20:00
                            div
                                a(href="#").social
                                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M9.6 0.399902C4.296 0.399902 0 4.6959 0 9.9999C0 12.1119 0.672 14.0559 1.824 15.6399L0.504 19.1199L4.32 18.0159C5.832 19.0239 7.656 19.5999 9.6 19.5999C14.904 19.5999 19.2 15.3039 19.2 9.9999C19.2 4.6959 14.904 0.399902 9.6 0.399902ZM14.712 13.9839L13.68 14.9919C12.6 16.0719 9.744 14.8959 7.224 12.3519C4.704 9.8319 3.576 6.9759 4.584 5.9199L5.616 4.8879C6 4.5039 6.648 4.5039 7.056 4.8879L8.568 6.3999C9.096 6.9279 8.88 7.8399 8.184 8.0559C7.704 8.2239 7.368 8.7519 7.536 9.2319C7.8 10.3599 9.264 11.7519 10.344 12.0159C10.824 12.1359 11.376 11.8479 11.52 11.3679C11.736 10.6719 12.648 10.4559 13.176 10.9839L14.688 12.4959C15.072 12.9039 15.072 13.5519 14.712 13.9839Z"/>
                                    </svg>
                                a(href="#").social
                                    <svg width="21" height="20" viewBox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M10.5996 20C16.1238 20 20.5996 15.5242 20.5996 10C20.5996 4.47583 16.1238 0 10.5996 0C5.07544 0 0.599609 4.47583 0.599609 10C0.599609 15.5242 5.07544 20 10.5996 20ZM5.17544 9.78333L14.8171 6.06583C15.2646 5.90417 15.6554 6.175 15.5104 6.85167L15.5113 6.85083L13.8696 14.585C13.7479 15.1333 13.4221 15.2667 12.9663 15.0083L10.4663 13.1658L9.26044 14.3275C9.12711 14.4608 9.01461 14.5733 8.75628 14.5733L8.93378 12.0292L13.5671 7.84333C13.7688 7.66583 13.5221 7.56583 13.2563 7.7425L7.53044 11.3475L5.06211 10.5775C4.52628 10.4075 4.51461 10.0417 5.17544 9.78333Z"/>
                                    </svg>
                        .connection.connection__mobil
                            p._mobil
                                a(href="tel:89031643848") 8 (903) 164-38-48
                                span понедельник - суббота 09:00 - 20:00
                            div
                                a(href="#").social
                                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M9.6 0.399902C4.296 0.399902 0 4.6959 0 9.9999C0 12.1119 0.672 14.0559 1.824 15.6399L0.504 19.1199L4.32 18.0159C5.832 19.0239 7.656 19.5999 9.6 19.5999C14.904 19.5999 19.2 15.3039 19.2 9.9999C19.2 4.6959 14.904 0.399902 9.6 0.399902ZM14.712 13.9839L13.68 14.9919C12.6 16.0719 9.744 14.8959 7.224 12.3519C4.704 9.8319 3.576 6.9759 4.584 5.9199L5.616 4.8879C6 4.5039 6.648 4.5039 7.056 4.8879L8.568 6.3999C9.096 6.9279 8.88 7.8399 8.184 8.0559C7.704 8.2239 7.368 8.7519 7.536 9.2319C7.8 10.3599 9.264 11.7519 10.344 12.0159C10.824 12.1359 11.376 11.8479 11.52 11.3679C11.736 10.6719 12.648 10.4559 13.176 10.9839L14.688 12.4959C15.072 12.9039 15.072 13.5519 14.712 13.9839Z"/>
                                    </svg>
                                a(href="#").social
                                    <svg width="21" height="20" viewBox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M10.5996 20C16.1238 20 20.5996 15.5242 20.5996 10C20.5996 4.47583 16.1238 0 10.5996 0C5.07544 0 0.599609 4.47583 0.599609 10C0.599609 15.5242 5.07544 20 10.5996 20ZM5.17544 9.78333L14.8171 6.06583C15.2646 5.90417 15.6554 6.175 15.5104 6.85167L15.5113 6.85083L13.8696 14.585C13.7479 15.1333 13.4221 15.2667 12.9663 15.0083L10.4663 13.1658L9.26044 14.3275C9.12711 14.4608 9.01461 14.5733 8.75628 14.5733L8.93378 12.0292L13.5671 7.84333C13.7688 7.66583 13.5221 7.56583 13.2563 7.7425L7.53044 11.3475L5.06211 10.5775C4.52628 10.4075 4.51461 10.0417 5.17544 9.78333Z"/>
                                    </svg>
                        +btn('Заказать звонок', 'callme')
                    p Головное подразделение: Москва, поселение Мосрентген, Проектируемый проезд №134, Терминал Е, Ворота Е-56
                    a(href="#") Представительства в регионах
                    a(href="mailto:info@deckart.su") info@deckart.su
                .footer__two.footer__two-js
                    ul 
                        li.footer-menu-js Каталог
                        li
                            a(href="#") Каталог террасной доски из ДПК
                        li
                            a(href="#") Заборы
                        li
                            a(href="#") Ограждения из ДПК
                        li
                            a(href="#") Ступени из ДПК
                        li
                            a(href="#") Фасадные панели из ДПК
                        li
                            a(href="#") Лавочный брус
                        li
                            a(href="#") Комлектующие
                        li
                            a(href="#") Распродажа
                        li
                            a(href="#") Контакты
                    ul 
                        li.footer-menu-js Услуги
                        li
                            a(href="#") Замер и расчет
                        li
                            a(href="#") Дизайн и проектирование
                        li
                            a(href="#") Монтаж
                        li
                            a(href="#") Калькулятор террас
                    ul 
                        li.footer-menu-js О компании
                        li
                            a(href="#") Блог
                        li
                            a(href="#") Акции
                        li
                            a(href="#") Наши объекты
                        li
                            a(href="#") Доставка и оплата
                        li
                            a(href="#") Сотрудничество