extends base/pug/base
//- include ./components/slider/slider
//- include ./components/links/links

append variables
    - var title = 'Главная страница сайта'
    - var pageClass = 'action'
    - var menuHref = '/'

block welcome
    .welcome
        .welcome__container.welcome-js 
            .swiper-wrapper 
                .welcome__slide.swiper-slide(style="--bg-1:url(../images/slide1-overlay.png);")
                    img(src="./images/slide1.png" alt="Слайд 1")
                    .outer 
                        .inner
                            h1 Террасная доска, заборы, ограждения и&nbsp;ступени из ДПК 
                                span от производителя
                            ul.welcome__list
                                li 
                                    +icon('check')
                                    | Проектирование
                                li 
                                    +icon('check')
                                    | Монтаж “под ключ”
                                li 
                                    +icon('check')
                                    | Частные и коммерческие объекты
                            .welcome__slide-bottom
                                p Доставка по всей территории
                                    span.rus
                                    | РФ
                                +btn('Перейти в каталог', '', true).invert
                .welcome__slide.swiper-slide(style="--bg:url(../images/slide2.png);")
                    img(src="./images/decor.svg" alt="Слайд 2")
                    .outer 
                        .inner
                            h2 Дополнительная скидка на монтаж 
                                span 10%
                            ul.welcome__list
                                li 
                                    +icon('check')
                                    | При покупке террасной доски Deckard
                            .welcome__product
                                .welcome__product-content
                                    img(src='./images/skidka.png' alt="товар")
                                    +icon('decor')
                                    .welcome__product-decor
                                    .welcome__product-decor1
                                    .welcome__product-price 
                                        .welcome__product-price-new
                                            | 1 990
                                            div ₽
                                            div м
                                                sup 2
                                        .welcome__product-price-old
                                            | 2 590
                                            div ₽
                                            div м
                                                sup 2
                            .welcome__slide-bottom
                                p Доставка по всей территории
                                    span.rus
                                    | РФ
                                +btn('Узнать подробнее', '', true).invert
        .outer(style="height: 100px;position: absolute;left:0;top:50%;width:100%;transform:translateY(-50%);z-index: 4;")        
            .inner(style="position: relative;position: relative;height: 100%;")
                .slider__button._white.slider__button-prev.welcome__button-prev-js
                    <svg width="16" height="31" viewBox="0 0 16 31" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M15.2725 30.8029L16 30.0814L1.45441 15.645L16 1.20862L15.2725 0.487127L0 15.645L15.2725 30.8029Z"/>
                    </svg>
                .slider__button._white.slider__button-next.welcome__button-next-js
                    <svg width="16" height="31" viewBox="0 0 16 31" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M15.2725 30.8029L16 30.0814L1.45441 15.645L16 1.20862L15.2725 0.487127L0 15.645L15.2725 30.8029Z"/>
                    </svg>
block actual 
    section.actual 
        .outer 
            .inner 
                .actual__container 
                    .title__container
                        h2.title Сейчас актуальные
                    ul 
                        li 
                            .actual__img
                                img(src='./images/actual/1.jpg' alt="Фото")
                                .actual__label.actual__label_discount %<br>скидка
                            .actual__content 
                                p акция действует до 05 мая 2022
                                h3 Скидка 10% на монтаж при покупке террасной доски Deckard
                                +btn('подробнее', '', true)
                                div
                                .actual__hash 
                                    a(href="#") #лестницы
                        li 
                            .actual__img
                                img(src='./images/actual/2.jpg' alt="Фото")
                                .actual__label.actual__label_gift 
                                    +icon('gift')
                                    | подарок
                            .actual__content 
                                p акция действует до 05 мая 2022
                                h3 При покупке террасной доски набор для сборки в подарок!
                                +btn('подробнее', '', true)
                                div
                                .actual__hash 
                                    a(href="#") #заборы
                        li 
                            .actual__img
                                img(src='./images/actual/3.jpg' alt="Фото")
                                .actual__label.actual__label_gift 
                                    +icon('gift')
                                    | подарок
                            .actual__content 
                                p акция действует до 05 мая 2022
                                h3 Доставка по России бесплатно при заказе от 20000р.
                                +btn('подробнее', '', true)
                                div
                                .actual__hash 
                                    a(href="#") #террасная доска
                        li 
                            .actual__img
                                img(src='./images/actual/4.jpg' alt="Фото")
                                .actual__label.actual__label_discount %<br>скидка
                            .actual__content 
                                p акция действует до 05 мая 2022
                                h3 Летний парад скидок до 50%
                                +btn('подробнее', '', true)
                                div
                                .actual__hash 
                                    a(href="#") #террасная доска


block form
    section.form 
        .outer 
            .inner
                .form__container
                    .form__content
                        .form__title Оставьте заявку, мы изучим Ваш проект и предложим индивидуальные условия
                            span и подберем оптимальное решение исходя из задач и бюджета 
                        .form__desc Наш менеджер свяжется с вами в течение 15 минут.
                    form(action="")
                        +input('Имя','text','name')
                        p Пожалуйста представьтесь, как можно к вам обращаться
                        +input('Номер телефона','text','phone').phone-mask1--js
                        +checkbox('Я выражаю свое согласие с Политикой конфиденциальности сайта и разрешаю обработку своих персональных данных', true)
                        button(type="submit") Перезвонить мне
block feedback 
    section.feedback 
        .outer
            .inner
                .title__container
                    h2.title Отзывы клиентов
                    p 
                        span
                            +icon('star')
                            | 5.0
                        | Средняя оценка<br>наших услуг                   
                .feedback__container.feedback-js 
                    ul.swiper-wrapper  
                        li.swiper-slide
                            .feedback__image
                                img(src="./images/feedback1.jpg" alt="Отзыв")
                            p АО “Виктория Орлова”
                                span проектирование и монтаж террасы ресторана
                            div 
                                +icon('star') 
                                | 5.0
                        li.swiper-slide
                            .feedback__image
                                img(src="./images/feedback2.png" alt="Отзыв")
                            p Коттеджный поселок “Савинский”
                                span проектирование и монтаж террасы и беседки
                            div 
                                +icon('star') 
                                | 5.0
                        li.swiper-slide
                            .feedback__video
                                img(src="./images/feedback3.jpg" alt="Отзыв")
                                <svg width="52" height="60" viewBox="0 0 52 60" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M50 26.5359C52.6667 28.0755 52.6667 31.9245 50 33.4641L6.49999 58.5788C3.83333 60.1184 0.499997 58.1939 0.499997 55.1147L0.499999 4.88526C0.5 1.80606 3.83333 -0.11844 6.5 1.42116L50 26.5359Z"/>
                                </svg>
                            p Ресторан “Вий”
                                span проектирование и монтаж террасы ресторана
                            div 
                                +icon('star') 
                                | 5.0
                        li.swiper-slide
                            .feedback__image
                                img(src="./images/feedback4.png" alt="Отзыв")
                            p Кафе “Столичный Дом”
                                span проектирование и монтаж террасы
                            div 
                                +icon('star') 
                                | 5.0
                        li.swiper-slide
                            .feedback__video
                                img(src="./images/feedback5.jpg" alt="Отзыв")
                                <svg width="52" height="60" viewBox="0 0 52 60" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M50 26.5359C52.6667 28.0755 52.6667 31.9245 50 33.4641L6.49999 58.5788C3.83333 60.1184 0.499997 58.1939 0.499997 55.1147L0.499999 4.88526C0.5 1.80606 3.83333 -0.11844 6.5 1.42116L50 26.5359Z"/>
                                </svg>
                            p АО “Виктория Орлова”
                                span проектирование и монтаж террасы ресторана
                            div 
                                +icon('star') 
                                | 5.0
                        li.swiper-slide
                            .feedback__image
                                img(src="./images/feedback6.jpg" alt="Отзыв")
                            p Коттеджный поселок “Савинский”
                                span проектирование и монтаж террасы и беседки
                            div 
                                +icon('star') 
                                | 5.0
                    .navigation 
                        .navigation-container
                            .swiper-pagination
                            .navigation__button.navigation__button-prev.feedback__button-prev-js
                                <svg width="14" height="26" viewBox="0 0 16 31" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M15.2725 30.8029L16 30.0814L1.45441 15.645L16 1.20862L15.2725 0.487127L0 15.645L15.2725 30.8029Z"/>
                                </svg>
                            .navigation__button.navigation__button-next.feedback__button-next-js
                                <svg width="14" height="26" viewBox="0 0 16 31" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M15.2725 30.8029L16 30.0814L1.45441 15.645L16 1.20862L15.2725 0.487127L0 15.645L15.2725 30.8029Z"/>
                                </svg>
