extends base/pug/base
//- include ./components/slider/slider
//- include ./components/links/links

append variables
    - var title = 'Главная страница сайта'
    - var pageClass = 'homepage'
    - var menuHref = '/'

block cart 
    .outer
        .inner(style="padding-top: 27px; border-top: 1px solid #584C3B;")
            nav.breadcrumbs
                ul.breadcrumbs__list
                    li
                        a(href="/") Главная
                        span.breadcrumbs__divider \
                    li.is-active #{title}
    section.cart 
        .outer 
            .inner 
                h1.title Корзина покупок
                .cart__container 
                    ul.cart__list
                        li.cart__item 
                            img(src="./images/catalog/product.jpg" alt="Товар").cart__img
                            .cart__content 
                                h2.t18.w500 Террасная доска из ДПК Ваша Терраса 
                                    span Орех
                                .cart__info 
                                    .cart__size Размер: 150х25 мм
                                    div.cart__color
                                        div(style="background: #573322;")
                                        | Орех
                                .product__price.product__price-js 4 500₽ 
                                    span 5 990₽
                            .cart__buttons
                                .product__amount.product__amount-js
                                    button.product__amount-minus-js -
                                    input(type="number" value="1" placeholder="" data-autosize-input='{ "space": 20 }' max="999" min="1" onchange='validate(event)')._detail
                                    button.product__amount-plus-js +
                                .product__price.product__price-js 4 500₽ 
                                    span 5 990₽
                                a(href="#") 
                                    <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M1.16699 3.7665H14.167M6.36699 7.0165V10.2665M8.96699 7.0165V10.2665M2.46699 3.7665H12.867L11.84 13.0095C11.8048 13.3276 11.6535 13.6215 11.4151 13.835C11.1766 14.0485 10.8678 14.1665 10.5478 14.1665H4.78619C4.46616 14.1665 4.15736 14.0485 3.91893 13.835C3.6805 13.6215 3.5292 13.3276 3.49399 13.0095L2.46699 3.7665ZM4.64124 1.91205C4.74638 1.68908 4.91275 1.5006 5.12095 1.3686C5.32914 1.23659 5.57058 1.1665 5.81709 1.1665H9.51689C9.76352 1.16638 10.0051 1.23641 10.2134 1.36842C10.4217 1.50044 10.5882 1.68898 10.6934 1.91205L11.567 3.7665H3.76699L4.64124 1.91205V1.91205Z" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
                        li.cart__item 
                            img(src="./images/catalog/product2.jpg" alt="Товар").cart__img
                            .cart__content 
                                h2.t18.w500 Террасная доска из ДПК Ваша Терраса 
                                    span Слоновая кость
                                .cart__info 
                                    .cart__size Размер: 150х25 мм
                                    div.cart__color
                                        div(style="background: #ECE9DA;")
                                        | Слоновая кость
                                .product__price.product__price-js 2 900₽ 
                                    span 
                            .cart__buttons
                                .product__amount.product__amount-js
                                    button.product__amount-minus-js -
                                    input(type="number" value="1" placeholder="" data-autosize-input='{ "space": 20 }' max="999" min="1" onchange='validate(event)')._detail
                                    button.product__amount-plus-js +
                                .product__price.product__price-js 2 900₽ 
                                    span
                                a(href="#") 
                                    <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M1.16699 3.7665H14.167M6.36699 7.0165V10.2665M8.96699 7.0165V10.2665M2.46699 3.7665H12.867L11.84 13.0095C11.8048 13.3276 11.6535 13.6215 11.4151 13.835C11.1766 14.0485 10.8678 14.1665 10.5478 14.1665H4.78619C4.46616 14.1665 4.15736 14.0485 3.91893 13.835C3.6805 13.6215 3.5292 13.3276 3.49399 13.0095L2.46699 3.7665ZM4.64124 1.91205C4.74638 1.68908 4.91275 1.5006 5.12095 1.3686C5.32914 1.23659 5.57058 1.1665 5.81709 1.1665H9.51689C9.76352 1.16638 10.0051 1.23641 10.2134 1.36842C10.4217 1.50044 10.5882 1.68898 10.6934 1.91205L11.567 3.7665H3.76699L4.64124 1.91205V1.91205Z" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
                        li.cart__item 
                            img(src="./images/catalog/ogr.jpg" alt="Товар").cart__img
                            .cart__content 
                                h2.t18.w500 Ограждения Ваша Терраса 
                                    span Орех
                                .cart__info 
                                    .cart__size Размер: 150х25 мм
                                    div.cart__color
                                        div(style="background: #573322;")
                                        | Орех
                                .product__price.product__price-js 5 990₽
                                    span
                            .cart__buttons
                                .product__amount.product__amount-js
                                    button.product__amount-minus-js -
                                    input(type="number" value="1" placeholder="" data-autosize-input='{ "space": 20 }' max="999" min="1" onchange='validate(event)')._detail
                                    button.product__amount-plus-js +
                                .product__price.product__price-js 5 990₽
                                    span
                                a(href="#") 
                                    <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M1.16699 3.7665H14.167M6.36699 7.0165V10.2665M8.96699 7.0165V10.2665M2.46699 3.7665H12.867L11.84 13.0095C11.8048 13.3276 11.6535 13.6215 11.4151 13.835C11.1766 14.0485 10.8678 14.1665 10.5478 14.1665H4.78619C4.46616 14.1665 4.15736 14.0485 3.91893 13.835C3.6805 13.6215 3.5292 13.3276 3.49399 13.0095L2.46699 3.7665ZM4.64124 1.91205C4.74638 1.68908 4.91275 1.5006 5.12095 1.3686C5.32914 1.23659 5.57058 1.1665 5.81709 1.1665H9.51689C9.76352 1.16638 10.0051 1.23641 10.2134 1.36842C10.4217 1.50044 10.5882 1.68898 10.6934 1.91205L11.567 3.7665H3.76699L4.64124 1.91205V1.91205Z" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
                        li.cart__check 
                            .cart__check-container 
                                p Итоговая стоимсоть
                                    span без доставки
                                .product__price.product__price-js 13 300₽ 
                                    span 14 790₽

                    .cart__form
                        .cart__form-title.t20.w600 Оформить заказ
                        form
                            +checkbox('Бесплатный замер', 'zamer')
                            +checkbox('Монтаж от 900₽ за м<sup>2</sup> <span>менеджер уточнит сумму</span>', 'montag')
                            +checkbox('Доставка', 'dostavka')
                            +input('Ваше имя', 'text', 'name')
                            p Пожалуйста укажите корректно
                            +input('Номер телефона','text','phone').phone-mask2--js
                            +textarea('Комментарий', 'text', 'commentariy')
                            p Дополнительные нюансы
                            +checkbox('Я выражаю свое согласие с Политикой конфиденциальности сайта и разрешаю обработку своих персональных данных', 'true1').form__checkbox_size
                            button(type="submit") Заказать звонок