extends base/pug/base
//- include ./components/slider/slider
//- include ./components/links/links

append variables
    - var title = 'Каталог товаров'
    - var pageClass = 'category'
    - var menuHref = '/'

block welcome
    .welcome.welcome_mini
        .welcome__container
            .welcome__slide(style="--bg:url(../images/slide2.png);")
                img(src="./images/decor.svg" alt="Слайд 2")
                .outer 
                    .inner
                        .welcome__action акция до 20 мая
                        h2 Дополнительная скидка на монтаж 
                            span 10%
                        ul.welcome__list
                            li 
                                +icon('check')
                                | При покупке террасной доски Deckard
                        .welcome__product
                            .welcome__product-content
                                img(src='./images/welcome-banner.png' alt="товар")

                                .welcome__product-price 
                                    .welcome__product-price-new
                                        | 1 990
                                        div ₽
                                        div м
                                            sup 2
                                    .welcome__product-price-old
                                        | 2 590
                                        div ₽
                                        div м
                                            sup 2
                        +btn('подробнее', '', true).invert                       
block links 
    section.links.links_mini 
        .title__container
            h2.title Каталог товаров
        ul 
            li 
                img(src='./images/link1.png' alt="Террасная доска из ДПК")
                .link__content
                    p Террасная доска из ДПК
                        span более 29 вариантов
                    +btn('Смотреть', '', true)
            li 
                img(src='./images/link2.png' alt="Ограждения из ДПК")
                .link__content
                    p Ограждения из ДПК
                        span более 120 вариантов
                    +btn('Смотреть', '', true)
            li 
                img(src='./images/link3.png' alt="Заборы")
                .link__content
                    p Заборы
                        span более 78 вариантов
                    +btn('Смотреть', '', true)
            li 
                img(src='./images/link4.png' alt="Ступени из ДПК")
                .link__content
                    p Ступени из ДПК
                        span более 29 вариантов
                    +btn('Смотреть', '', true)
            li 
                img(src='./images/link5.png' alt="Лавочный брус")
                .link__content
                    p Лавочный брус
                        span более 29 вариантов
                    +btn('Смотреть', '', true)
            li 
                img(src='./images/link6.png' alt="Комплектующие")
                .link__content
                    p Комплектующие
                        span более 29 вариантов
                    +btn('Смотреть', '', true)
block article
    section.article.article_mini
        .title__container
            h2.title Наши проекты
        .article__container.article1-js 
            ul.swiper-wrapper  
                li.swiper-slide
                    img(src="./images/article1.jpg" alt="Террассы для дома и дачи")
                    a(href="#") 
                        p Террассы для дома и дачи
                            span проектирование и монтаж
                        div 
                            <svg width="8" height="8" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M7.0206 0.5C7.09795 0.5 7.17214 0.530727 7.22683 0.585423C7.28153 0.640118 7.31226 0.714301 7.31226 0.791651L7.31226 4.29147C7.31226 4.36882 7.28153 4.443 7.22683 4.4977C7.17214 4.55239 7.09795 4.58312 7.0206 4.58312C6.94325 4.58312 6.86907 4.55239 6.81438 4.4977C6.75968 4.443 6.72895 4.36882 6.72895 4.29147L6.72895 1.4957L0.810765 7.41447C0.783648 7.44159 0.751456 7.4631 0.716027 7.47777C0.680597 7.49245 0.642624 7.5 0.604276 7.5C0.565927 7.5 0.527954 7.49245 0.492524 7.47777C0.457095 7.4631 0.424903 7.44159 0.397786 7.41447C0.37067 7.38735 0.34916 7.35516 0.334485 7.31973C0.319809 7.2843 0.312256 7.24633 0.312256 7.20798C0.312256 7.16963 0.319809 7.13166 0.334485 7.09623C0.34916 7.0608 0.37067 7.02861 0.397786 7.00149L6.31656 1.0833L3.52079 1.0833C3.44344 1.0833 3.36926 1.05258 3.31456 0.99788C3.25986 0.943185 3.22914 0.869002 3.22914 0.791652C3.22914 0.714301 3.25986 0.640118 3.31456 0.585423C3.36926 0.530727 3.44344 0.5 3.52079 0.5L7.0206 0.5Z"/>
                            </svg>    
                li.swiper-slide
                    img(src="./images/article2.png" alt="Террассы для дома и дачи")
                    a(href="#") 
                        p Террассы для дома и дачи
                            span проектирование и монтаж
                        div 
                            <svg width="8" height="8" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M7.0206 0.5C7.09795 0.5 7.17214 0.530727 7.22683 0.585423C7.28153 0.640118 7.31226 0.714301 7.31226 0.791651L7.31226 4.29147C7.31226 4.36882 7.28153 4.443 7.22683 4.4977C7.17214 4.55239 7.09795 4.58312 7.0206 4.58312C6.94325 4.58312 6.86907 4.55239 6.81438 4.4977C6.75968 4.443 6.72895 4.36882 6.72895 4.29147L6.72895 1.4957L0.810765 7.41447C0.783648 7.44159 0.751456 7.4631 0.716027 7.47777C0.680597 7.49245 0.642624 7.5 0.604276 7.5C0.565927 7.5 0.527954 7.49245 0.492524 7.47777C0.457095 7.4631 0.424903 7.44159 0.397786 7.41447C0.37067 7.38735 0.34916 7.35516 0.334485 7.31973C0.319809 7.2843 0.312256 7.24633 0.312256 7.20798C0.312256 7.16963 0.319809 7.13166 0.334485 7.09623C0.34916 7.0608 0.37067 7.02861 0.397786 7.00149L6.31656 1.0833L3.52079 1.0833C3.44344 1.0833 3.36926 1.05258 3.31456 0.99788C3.25986 0.943185 3.22914 0.869002 3.22914 0.791652C3.22914 0.714301 3.25986 0.640118 3.31456 0.585423C3.36926 0.530727 3.44344 0.5 3.52079 0.5L7.0206 0.5Z"/>
                            </svg>  
                li.swiper-slide
                    img(src="./images/article3.png" alt="Террассы для дома и дачи")
                    a(href="#") 
                        p Террассы для дома и дачи
                            span проектирование и монтаж
                        div 
                            <svg width="8" height="8" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M7.0206 0.5C7.09795 0.5 7.17214 0.530727 7.22683 0.585423C7.28153 0.640118 7.31226 0.714301 7.31226 0.791651L7.31226 4.29147C7.31226 4.36882 7.28153 4.443 7.22683 4.4977C7.17214 4.55239 7.09795 4.58312 7.0206 4.58312C6.94325 4.58312 6.86907 4.55239 6.81438 4.4977C6.75968 4.443 6.72895 4.36882 6.72895 4.29147L6.72895 1.4957L0.810765 7.41447C0.783648 7.44159 0.751456 7.4631 0.716027 7.47777C0.680597 7.49245 0.642624 7.5 0.604276 7.5C0.565927 7.5 0.527954 7.49245 0.492524 7.47777C0.457095 7.4631 0.424903 7.44159 0.397786 7.41447C0.37067 7.38735 0.34916 7.35516 0.334485 7.31973C0.319809 7.2843 0.312256 7.24633 0.312256 7.20798C0.312256 7.16963 0.319809 7.13166 0.334485 7.09623C0.34916 7.0608 0.37067 7.02861 0.397786 7.00149L6.31656 1.0833L3.52079 1.0833C3.44344 1.0833 3.36926 1.05258 3.31456 0.99788C3.25986 0.943185 3.22914 0.869002 3.22914 0.791652C3.22914 0.714301 3.25986 0.640118 3.31456 0.585423C3.36926 0.530727 3.44344 0.5 3.52079 0.5L7.0206 0.5Z"/>
                            </svg>
            .navigation 
                .navigation-container
                    .swiper-pagination
                    .navigation__button.navigation__button-prev.article1__button-prev-js
                        <svg width="14" height="26" viewBox="0 0 16 31" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M15.2725 30.8029L16 30.0814L1.45441 15.645L16 1.20862L15.2725 0.487127L0 15.645L15.2725 30.8029Z"/>
                        </svg>
                    .navigation__button.navigation__button-next.article1__button-next-js
                        <svg width="14" height="26" viewBox="0 0 16 31" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M15.2725 30.8029L16 30.0814L1.45441 15.645L16 1.20862L15.2725 0.487127L0 15.645L15.2725 30.8029Z"/>
                        </svg>
block advantages
    .advantages._radius 
        .outer 
            .inner 
                ul
                    li 
                        +icon('warehouse')
                        | В наличии на складе более 150 вариантов террасной доски из ДПК
                    li 
                        +icon('quality')
                        | Официальная гарантия на материалы - 3 года  и монтаж - 1 год
                    li
                        +icon('measuring-tape')
                        | Бесплатный выезд на замер и индивидуальный расчет проекта
                    li
                        +icon('express-delivery')
                        | Быстрая доставка в любой регион РФ
block form
    section.form.form_mini
        .outer 
            .inner
                .form__container
                    .form__content
                        .form__title Оставьте заявку - мы детально изучим особенности Вашего проекта
                            span и подберем оптимальное решение исходя из задач и бюджета 
                        .form__desc Наш менеджер свяжется с вами в течение 15 минут.
                    form(action="")
                        +input('Имя','text','name')
                        p Пожалуйста представьтесь, как можно к вам обращаться
                        +input('Номер телефона','text','phone').phone-mask1--js
                        +checkbox('Я выражаю свое согласие с Политикой конфиденциальности сайта и разрешаю обработку своих персональных данных', true)
                        button(type="submit") Перезвонить мне
block feedback 
    section.feedback.feedback_mini
        .outer
            .inner
                .title__container
                    h2.title Отзывы клиентов
                    p 
                        span
                            +icon('star')
                            | 5.0
                        | Средняя оценка<br>наших услуг                   
                .feedback__container.feedback1-js 
                    ul.swiper-wrapper  
                        li.swiper-slide
                            .feedback__image
                                img(src="./images/feedback1.jpg" alt="Отзыв")
                            p АО “Виктория Орлова”
                                span проектирование и монтаж террасы ресторана
                            div 
                                +icon('star') 
                                | 5.0
                        li.swiper-slide
                            .feedback__image
                                img(src="./images/feedback2.png" alt="Отзыв")
                            p Коттеджный поселок “Савинский”
                                span проектирование и монтаж террасы и беседки
                            div 
                                +icon('star') 
                                | 5.0
                        li.swiper-slide
                            .feedback__video
                                img(src="./images/feedback3.jpg" alt="Отзыв")
                                <svg width="52" height="60" viewBox="0 0 52 60" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M50 26.5359C52.6667 28.0755 52.6667 31.9245 50 33.4641L6.49999 58.5788C3.83333 60.1184 0.499997 58.1939 0.499997 55.1147L0.499999 4.88526C0.5 1.80606 3.83333 -0.11844 6.5 1.42116L50 26.5359Z"/>
                                </svg>
                            p Ресторан “Вий”
                                span проектирование и монтаж террасы ресторана
                            div 
                                +icon('star') 
                                | 5.0
                        li.swiper-slide
                            .feedback__image
                                img(src="./images/feedback4.png" alt="Отзыв")
                            p Кафе “Столичный Дом”
                                span проектирование и монтаж террасы
                            div 
                                +icon('star') 
                                | 5.0
                        li.swiper-slide
                            .feedback__video
                                img(src="./images/feedback5.jpg" alt="Отзыв")
                                <svg width="52" height="60" viewBox="0 0 52 60" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M50 26.5359C52.6667 28.0755 52.6667 31.9245 50 33.4641L6.49999 58.5788C3.83333 60.1184 0.499997 58.1939 0.499997 55.1147L0.499999 4.88526C0.5 1.80606 3.83333 -0.11844 6.5 1.42116L50 26.5359Z"/>
                                </svg>
                            p АО “Виктория Орлова”
                                span проектирование и монтаж террасы ресторана
                            div 
                                +icon('star') 
                                | 5.0
                        li.swiper-slide
                            .feedback__image
                                img(src="./images/feedback6.jpg" alt="Отзыв")
                            p Коттеджный поселок “Савинский”
                                span проектирование и монтаж террасы и беседки
                            div 
                                +icon('star') 
                                | 5.0
                    .navigation 
                        .navigation-container
                            .swiper-pagination
                            .navigation__button.navigation__button-prev.feedback__button-prev-js
                                <svg width="14" height="26" viewBox="0 0 16 31" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M15.2725 30.8029L16 30.0814L1.45441 15.645L16 1.20862L15.2725 0.487127L0 15.645L15.2725 30.8029Z"/>
                                </svg>
                            .navigation__button.navigation__button-next.feedback__button-next-js
                                <svg width="14" height="26" viewBox="0 0 16 31" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M15.2725 30.8029L16 30.0814L1.45441 15.645L16 1.20862L15.2725 0.487127L0 15.645L15.2725 30.8029Z"/>
                                </svg>
block company
    section.company.company_mini
        .outer 
            .inner 
                .company__container 
                    .company__content
                        h2.title Компания ТМ «Deckart»
                        p.company__about Компания ТМ «Deckart» является производителем изделий из ДПК: террасной доски, ступеней, ограждений, заборной доски.
                        .company__text
                            p Качество продукции, широкий ассортимент, разнообразие цветов позволило завоевать признание покупателей.<br><br>
                            p Одна из основополагающий целей ТМ «Deckart» —является высокое качество выпускаемой продукции и уникальная технология нанесения 3D текстуры.
                            p Технологами компании был тщательно изучен зарубежный опыт производства изделий из древесно-полимерного композита производителей Китая, США, Европы, Южной Кореи, благодаря чему была разработана политика в области качества, а так же требования к поставщикам оборудования, сырья и материалов.
                        +btn('Подробнее', '', true)
block menu
    menu.menu.aside-menu-js
        li 
            .catalog-link-js.dropdown._right 
                .menu__icon._pink
                    img(src='./images/terrasnaya.png')
                | Террасная доска из ДПК
            .catalog__content
                ul 
                    li
                        a(href="#") Террасная доска для террасы
                    li
                        a(href="#") Террасная доска для бассейнов
                    li
                        a(href="#") Террасная доска для беседки
                    li
                        a(href="#") Террасная доска для пирса, причала и мостиков
                    li
                        a(href="#") Террасная доска для кафе и ресторанов
        li 
            .catalog-link-js.dropdown._right  
                .menu__icon._grey
                    img(src='./images/zabor.png')                            
                | Заборы
            .catalog__content
                ul 
                    li
                        a(href="#") Забор 1
                    li
                        a(href="#") Забор 2
        li 
            .catalog-link-js.dropdown._right  
                .menu__icon._beg
                    img(src='./images/ogragdenie.png')                                  
                | Ограждения из ДПК
            .catalog__content
                ul 
                    li
                        a(href="#") Ограждения из ДПК 1
                    li
                        a(href="#") Ограждения из ДПК 2
        li 
            .catalog-link-js.dropdown._right  
                .menu__icon._beg1
                    img(src='./images/stupeni.png')
                | Ступени из ДПК
            .catalog__content
                ul 
                    li
                        a(href="#") Ступени из ДПК 1
                    li
                        a(href="#") Ступени из ДПК 2
        li 
            .catalog-link-js.dropdown._right  
                .menu__icon._pink1
                    img(src='./images/fasad.png')
                | Фасадные панели из ДПК
            .catalog__content
                ul 
                    li
                        a(href="#") Фасадные панели из ДПК 1
                    li
                        a(href="#") Фасадные панели из ДПК 2
        li 
            .catalog-link-js.dropdown._right  
                .menu__icon._grey1
                    img(src='./images/lavochniy.png')
                | Лавочный брус
            .catalog__content
                ul 
                    li
                        a(href="#") Лавочный брус 1
                    li
                        a(href="#") Лавочный брус 2
        li 
            .catalog-link-js.dropdown._right  
                .menu__icon._grey2
                    img(src='./images/kompl.png')
                | Комплектующие
            .catalog__content
                ul 
                    li
                        a(href="#") Комплектующие 1
                    li
                        a(href="#") Комплектующие 2
        li 
            a(href="#") 
                .menu__icon._yellow %
                | Распродажа %
block asideform
    section.form.form_aside
        .form__container
            .form__content
                .form__title Получите предварительный расчет вашей террасы уже через 15 минут
            form(action="")
                +input('Имя','text','name')
                p Пожалуйста представьтесь, как можно к вам обращаться
                +input('Номер телефона','text','phone').phone-mask2--js
                +checkbox('Я выражаю свое согласие с Политикой конфиденциальности сайта и разрешаю обработку своих персональных данных', 'true2')
                button(type="submit") Перезвонить мне
block asideuseful
    .useful.useful_aside
        .useful__container 
            .title__container
                h2.title Полезные статьи и новости
            .useful__slider
                ul
                    li
                        img(src="./images/useful1.jpg" alt="Как выбрать террасную доску?")
                        .useful__content 
                            .useful__date Опубликовано 5 минут назад
                            .useful__title Как выбрать террасную доску?
                            .useful__except Приятно летом пройтись босиком по теплому деревянному полу террасы, веранды или беседки. А каким будет этот пол? Давайте разбираться!
                            +btn('подробнее','', true).useful__link
                    li
                        img(src="./images/useful2.png" alt="Укладка террасной доски, уeстойчивость к колебаниям влажности и температур")
                        .useful__content 
                            .useful__date Опубликовано 2 января 2022
                            .useful__title Укладка террасной доски, уeстойчивость к колебаниям влажности и температур
                            .useful__except Террасная доска (дёкинг) из древесно-полимерного композита — красивое и долговечное напольное покрытие для террас, беседок  ...
                            +btn('подробнее','', true).useful__link
block asideformSubscribe
    section.form.form_aside.form_aside_subscribe
        .form__container
            .form__content
                .form__title Подпишитесь на нашу рассылку и будьте в курсе актуальных акций и распродаж
            form(action="")
                +input('Email','email','email')
                p Никакого спама не будет, только полезные новости
                button(type="submit") Подписаться