extends base/pug/base
//- include ./components/slider/slider
//- include ./components/links/links

append variables
    - var title = 'Главная страница сайта'
    - var pageClass = 'homepage'
    - var menuHref = '/'

block useful-articles
    .outer
        .inner(style="padding-top: 27px; border-top: 1px solid #584C3B;")
            nav.breadcrumbs
                ul.breadcrumbs__list
                    li
                        a(href="/") Главная
                        span.breadcrumbs__divider \
                    li.is-active #{title}
block videomessage
    section.videomessage
        .outer 
            .inner  
                .videomessage__container
                    .videomessage__content
                        h2.title Посмотрите видеообращение основателя компании “Ваша Терраса” Александра Богач
                        .videomessage__desc Компания «ВАША ТЕРРАСА» оказывает полный спектр услуг по проектированию и строительству террас из древесно-полимерного композита (ДПК). 
                        p.text Мы создаем террасы любого уровня сложности и назначения: террасы к дому и отдельностоящие террасы, открытые террасы и террасы для зоны барбекю, террасные настилы вокруг бассейнов. Строим “под ключ” коммерческие террасы для кафе, ресторанов, парков, пристаней и зон отдыха. 
                        blockquote.videomessage__blockquote
                            p Для меня создание террас для наших клиентов – хобби и бизнес одновременно. И именно по этой причине я всегда лично участвую во всех строительных проектах компании. Мне важно не просто построить объект, а помочь вам реализовать все идеи и задумки так, чтобы созданная терраса дарила радость и комфорт долгие годы.
                            cite
                                .videomessage__author
                                    img(src="./images/message/photo.jpg" alt="Фотография")
                                    | Александр Богач, компания “Ваша Терраса”
                                .videomessage__btns
                                    a(href="#") Подробнее о комании
                                    a(data-id="whatsapp" href="#")
                                        <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M13 0C5.8175 0 0 5.8175 0 13C0 15.86 0.91 18.4925 2.47 20.6375L0.6825 25.35L5.85 23.855C7.8975 25.22 10.3675 26 13 26C20.1825 26 26 20.1825 26 13C26 5.8175 20.1825 0 13 0ZM19.9225 18.395L18.525 19.76C17.0625 21.2225 13.195 19.63 9.7825 16.185C6.37 12.7725 4.8425 8.905 6.2075 7.475L7.605 6.0775C8.125 5.5575 9.0025 5.5575 9.555 6.0775L11.6025 8.125C12.3175 8.84 12.025 10.075 11.0825 10.3675C10.4325 10.595 9.9775 11.31 10.205 11.96C10.5625 13.4875 12.545 15.3725 14.0075 15.73C14.6575 15.8925 15.405 15.5025 15.6 14.8525C15.8925 13.91 17.1275 13.6175 17.8425 14.3325L19.89 16.38C20.41 16.9325 20.41 17.81 19.9225 18.395Z" />
                                        </svg>
                                        | Написать
                    a(href="https://www.youtube.com/watch?v=gmi_6xSPUBY" rel="prettyPhoto" style="--bg-1:url(../images/message/video-cover.jpg);")
                        span
                            <svg width="10" height="12" viewBox="0 0 10 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M8.75 5.56699C9.08333 5.75944 9.08333 6.24056 8.75 6.43301L1.25 10.7631C0.916666 10.9556 0.499999 10.715 0.5 10.3301L0.5 1.66987C0.5 1.28497 0.916666 1.04441 1.25 1.23686L8.75 5.56699Z" />
                            </svg>