.asideform {
    padding: 24px 36px;
    background: #F4F4F4;
    border-radius: 10px;
    @media (max-width: 992px) {
        margin-top: 70px;
    }
    form {
        margin-top: 22px;
        p {
            font-size: 8px;
            margin-top: 3px;
            color: #AEB0B0;
            @media (min-width: 576px) {
                font-size: 12px;    
            }
        }
    }
    .form__placeholder-container {
        margin-top: 15px;
        input {
            background: #FFFFFF;
            border: 1px solid #AEB0B0;
            border-radius: 5px;
            padding: 15px 20px;
            
        }
        label {
            left: 10px;
            background: white;
            padding: 8px;
            border-radius: 5px;
        }
    }
}
.asideform__title {
    color: #000000;
    position: relative;
    padding-left: 34px;
    span {
        display: block;
    }
    &::after {
        content: '';
        position: absolute;
        left: 0;
        top: 5px;
        width: 18px;
        height: 18px;
        background-image: url("data:image/svg+xml,%3Csvg width='19' height='19' viewBox='0 0 19 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.93555 0.46875C4.96533 0.46875 0.935547 4.49999 0.935547 9.46875C0.935547 14.4404 4.96533 18.4688 9.93555 18.4688C14.9058 18.4688 18.9355 14.4404 18.9355 9.46875C18.9355 4.49999 14.9058 0.46875 9.93555 0.46875ZM9.93555 4.46069C10.7773 4.46069 11.4597 5.14309 11.4597 5.98488C11.4597 6.82667 10.7773 7.50907 9.93555 7.50907C9.09376 7.50907 8.41135 6.82667 8.41135 5.98488C8.41135 5.14309 9.09376 4.46069 9.93555 4.46069ZM11.9678 13.6784C11.9678 13.9189 11.7728 14.1139 11.5323 14.1139H8.33877C8.09828 14.1139 7.90329 13.9189 7.90329 13.6784V12.8075C7.90329 12.567 8.09828 12.372 8.33877 12.372H8.77426V10.0494H8.33877C8.09828 10.0494 7.90329 9.85441 7.90329 9.61391V8.74294C7.90329 8.50245 8.09828 8.30746 8.33877 8.30746H10.6614C10.9018 8.30746 11.0968 8.50245 11.0968 8.74294V12.372H11.5323C11.7728 12.372 11.9678 12.567 11.9678 12.8075V13.6784Z' fill='%23F56308'/%3E%3C/svg%3E%0A");
        background-size: contain;
        background-repeat: no-repeat;
    }
}
.asideform__desc {
    padding-left: 34px;
    margin-top: 22px;
}

